.col-md-4.crews_performer.main_box_performer
	h2.box_crews_header.box_header
		span.title_str Crews
		+coda('#004431')
	.col-sm-12
		.box_wrapper.row.coloured.equalteaser

			each crew, i in performer.crews
				if i < 3
					.main_crews-box.col-xs-6.col-sm-12
						.row
							.crew_teaser_logo_container.col-sm-6
								a(href="/"+crew.permalink, title=crew.display_name)
									img.img-circle(src=crew.files[0].file, alt=crew.display_name)
									h3
										span= crew.display_name
							.crew_teaser_crew_details.crew_details.col-sm-6
								// MISSING DATA: PERFORMANCE NUMBER, EVENTS NUMBER
								ul
									li= crew.stats.members +__(" Members")
									li= 99 +__(" Performances")
									li= 99 +__(" Events")

			each crew, i in performer.crews
				ul.list-inline.secondary_crew_container
					if (i > 1 && i < 7)
						li.secondary_crew
							a(href="/#{crew.permalink}", title=crew.display_name)
								if crew.files
									img(src=crew.files[0].file, alt=crew.display_name)
	.col-sm-12.more_crews.more_button
		a(href="/#{performer.permalink}/crews", title='More Crews')
			=__("All the Crews")
			span=__("+")
			+slashes("#004431")
