.col-md-4.events_performer.main_box_performer.baseheight
  h2.box_events_header.box_header
    span.title_str Events
    +coda('#E4811E')
  .col-sm-12
    .row.box_wrapper.coloured.equalteaser
      each event, i in performer.events
        if i === 0
          a.main_performace_image_wrapper(href="/#{event.users[0].permalink}/events/#{event.permalink}", title=event.title)
            img.main_performace_image(src=event.file.file, alt=event.title)
          a.col-sm-12.main_event_title_wrapper(href="/#{event.users[0].permalink}/events/#{event.permalink}", title=event.title)
            h3.main_event_title=event.title
          .main_performer_box
            -//console.log(JSON.stringify(event, null, 20));
            if(event.schedule.length)
              .col-xs-12
                ul.row.date_time_event_evidence
                  li.evidence-date.col-xs-12
                    span!=_h.date.writeDate(event.schedule[0].date)
                  li.evidence_location.col-xs-12
                    span
                      i(class="fa fa-map-marker")
                    span.event_city= event.schedule[0].venue.name + " / "
                    span.event_city= event.schedule[0].venue.location.city + " / "
                    span.event_country= event.schedule[0].venue.location.country

            .col-sm-6.col-xs-12.col-md-12
                ul.evidence-event_categories.list-inline
                  li
                    i.fa.fa-user(aria-hidden='true')
                    a.event_owner(href="/#{event.users[0].permalink}", title=event.users[0].display_name)= event.users[0].display_name
                  each category in event.categories
                    li
                      i(class="fa fa-cube")
                      a(href="/#{category.permalink}", title=category.name)= category.name

  .col-sm-12.more_event.more_button
    a(href="/#{performer.permalink}/events", title='More events')=__("All the events")
      span=__("+")
      +slashes("#E4811E")
