.col-md-4.performances_performer.main_box_performer.baseheight
	h2.box_performer_header.box_header
		span.title_str Performances
		+coda('#0F8FCF')
	.col-sm-12
		.row.box_wrapper.coloured.equalteaser
			each performance, i in performer.performances
				if i === 0
					a.main_performace_image_wrapper(href="/#{performance.users[0].permalink}/performances/#{performance.permalink}", title=performance.title)
						img.main_performace_image(src=performance.files[0].file, alt=performance.title)
					a.col-sm-12.main_performance_title_wrapper(href="/#{performance.users[0].permalink}/performances/#{performance.permalink}", title=performance.title)
						h3.main_performance_title=performance.title
					.main_performer_box
						.col-sm-6.col-xs-12.col-md-12
								ul.list-inline.performer_main_data
									li
										i.fa.fa-caret-right(aria-hidden='true')
										a.performance_owner(href="/#{performance.users[0].permalink}", title=performance.users[0].display_name)= performance.users[0].display_name
									li.evidence-performance_stats.evidence-performance_stats_visits
										span
											i.fa.fa-eye(aria-hidden='true')
										span.stat.value= performance.stats.visits
									li.evidence-performance_stats
										span
											i.fa.fa-thumbs-o-up(aria-hidden='true')
										span.stat.value= performance.stats.rates.tot_rate
						.col-sm-6.col-xs-12.col-md-12
								ul.evidence-performance_categories.list-inline
									each category in performance.categories
										li
											i(class="fa fa-cube")
											a(href="/#{category.permalink}", title=category.name)= category.name
				if (i > 0 && i < 3)
					.col-sm-12.secondary_performance_wrapper.hidden
						.secondary_performance
							a(href="/#{performance.users[0].permalink}/performances/#{performance.permalink}", title=performance.title)
								.col-sm-3.secondary-performace_image
									img.img-circle(src=performance.files[0].file, alt=performance.title)
								h3.col-sm-9= performance.title
	.col-sm-12.more_performance.more_button
		a(href="/#{performer.permalink}/performances", title='More performances')=__("All the performances")
			span=__("+")
			+slashes("#0F8FCF")
