.tabbable.tabs-left.row
	include ../comp/cp_menu
	.tab-content.col-md-10
		.tab-pane.active
			include ../comp/cp_submenu_crew
			form.form-horizontal(method="post")
				input(name="collection", value="users", type="hidden")
				input(name="_id", value=result._id, type="hidden")
				input(name="form", value=form, type="hidden")
				fieldset
					legend=locals.title
					include ../comp/msg
					.form-group
						label.col-sm-2.control-label=__("Stage name")
						.col-sm-10
							input(name="display_name", value=result.display_name, type="text", placeholder=__("Stage name")).form-control
					.form-group
						label.col-sm-2.control-label=__("Profile url")
						.col-sm-10
							input(autocomplete="off", name="permalink", value=result.permalink, type="text", placeholder=__("Profile url")).form-control
							span.help-inline
							.help-block="https://flxer.net/"
								span#permalink=result.permalink
					include ../comp/text_multilang
					include ../comp/websites
					.form-group
						label.col-sm-2.control-label
						.col-sm-10
							button(type="submit").btn.btn-lg.btn-primary=__("Save")
