- console.log("AAAAA")
- console.log(result)
.tabbable.tabs-left
	include ../comp/cp_menu
	.tab-content
		.tab-pane.active
			include ../comp/cp_submenu_crew
			fieldset
				legend.clearfix
					input(name="collection", value="users", type="hidden")
					input(name="_id", value=result._id, type="hidden")
					input(name="crew_name", value=result.display_name, type="hidden")
					.pull-left=locals.title
					button.btn.btn-primary.pull-right(type="button",onclick="showModal('search_members','search_members',updateMembers);return false")=__("Add member")
				.main-list
					each p,key in locals.result.members
						.alert.alert-info
							.clearfix
								.pull-left
									b=p.display_name
									input(name="members[]",type="hidden",value=JSON.stringify(p))
								.pull-right
									- if (p._id!=user._id)
									a.btn.btn-mini(href="#",onclick="deleteMember(this,'"+p._id+"');return false;")
										i.icon-remove
									!=" "
									a.btn.btn-mini(href="/"+p.permalink+"/",target="_blank")
										i.icon-eye-open
									!=" "
									i.icon-move(style="margin:3px 0 0 25px;")
				script
					$(function() {
						$('.main-list').sortable({
							update: updateMembers,
							placeholder: "ui-state-highlight"
						}).disableSelection();
					});
include ../modals/search_members