.tabbable.tabs-left
	include ../comp/cp_menu
	.tab-content
		.tab-pane.active
			include ../comp/cp_submenu_crew
			form.form-horizontal(method="post")
				input(name="collection", value="users", type="hidden")
				input(name="_id", value=result._id, type="hidden")
				input(name="form", value=form, type="hidden")
				fieldset
					legend=locals.title
					include ../comp/msg
					.control-group
						label.control-label=__("Stage name")
						.controls
							input(name="display_name", value=result.display_name, type="text", placeholder=__("Stage name")).input-large
					.control-group
						label.control-label=__("Profile url")
						.controls
							input(autocomplete="off", name="permalink", value=result.permalink, type="text", placeholder=__("Profile url")).input-large
							span.help-inline
							.help-block="https://flxer.net/"
								span#permalink=result.permalink
					include ../comp/text_multilang
					include ../comp/websites
					.control-group
						.controls
							button(type="submit").btn.btn-large.input-large.btn-primary.right=__("Save")
