extends ../layout
block content
	- console.log("AAAAA")
	- console.log(result)
	.tabbable.tabs-left.row
		include ../comp/cp_menu
		.tab-content.col-md-10
			.tab-pane.active
				include ../comp/cp_submenu_crew
				fieldset
					legend.clearfix
						input(name="collection", value="users", type="hidden")
						input(name="_id", value=result._id, type="hidden")
						input(name="crew_name", value=result.display_name, type="hidden")
						.pull-left=title
						button.btn.btn-primary.pull-right(type="button",onclick="showModal('search_members','search_members');return false")=__("Add member")
					.main-list
						- each p,key in result.members
							.alert.alert-info
								.clearfix
									.pull-left
										b=p.display_name
										input(name="members[]",type="hidden",value=JSON.stringify(p))
									.pull-right
										- if (p._id!=user._id)
										a(href="#",onclick="deleteMember(this,'"+p._id+"');return false;")
											i.glyphicon.glyphicon-remove
										!="&nbsp;&nbsp;&nbsp;"
										a(href="/"+p.permalink+"/",target="_blank")
											i.glyphicon.glyphicon-eye-open
										!="&nbsp;&nbsp;&nbsp;"
										i.glyphicon.glyphicon-move
					script(type="text/javascript").
						$(function() {
							$('.main-list').sortable({
								update: updateMembers,
								placeholder: "ui-state-highlight"
							}).disableSelection();
						});
					h4(class="main-list-notconfirmed-title"+(result.membersnotconfirmed && result.membersnotconfirmed.length ? "" : " hide"))=__("Waiting member confirm")
					.main-list-notconfirmed
						- if (result.membersnotconfirmed)
							- each p,key in result.membersnotconfirmed
								.alert.alert-info
									.clearfix
										.pull-left
											b=p.data.display_name
											input(name="membersnotconfirmed[]",type="hidden",value=JSON.stringify(p.data))
										.pull-right
											- if (p.data._id!=user._id)
											a(href="#",onclick="deleteTemp(this,'"+p._id+"');return false;")
												i.glyphicon.glyphicon-remove
											!="&nbsp;&nbsp;&nbsp;"
											a(href="/"+p.data.permalink+"/",target="_blank")
												i.glyphicon.glyphicon-eye-open
	include ../modals/search_members
	include ../modals/errors