.tabbable.tabs-left
	include ../comp/cp_menu
	.tab-content
		.tab-pane.active
			include ../comp/cp_submenu_event
			form.form-horizontal(method="post", action="#")
				fieldset
					legend=locals.title
					#playerPreview
						include ../comp/thumbnails
					#file-uploader(class=(locals.result.files.length ? 'hide' : undefined))
						.qq-uploader
							.qq-upload-drop-area
								span=__("Drop here files to upload (only jpg, png, gif)")
							.qq-upload-button=__("Upload a file (only jpg, png, gif)")
							input(type="file",name="file")
							ul.qq-upload-list
					hr.clearfix
					.control-group
						.controls
							button(type="button",onclick="$('#playerPreview').hide();$('#file-uploader').show();return false").btn.btn-large.input-large.btn-primary.right=__("Update image")
				script(type="text/javascript")
					var uploader;
					$(document).ready(function () {
						//nuovo uploader
						uploader = new qq.FileUploader({
							element: document.getElementById('file-uploader'),   				
							action: '/upload/?id=#{result._id}&c=events',
							debug: 			true,
							minWidth: 			#{_config.thumbnails[0].width},
							minHeight: 			300,
							validFormats: 		["JPEG"],
							multiple: 			false,
							maxConnections: 	3,
							allowedExtensions: 	["jpg", "png", "gif"],	// .zip, .jpg, .png, .gif, .mov, .mp4, .m4v, .mpg, .mpeg, .flv, .f4v, .wmv, .avi
							sizeLimit: 			1024000,   
							minSizeLimit: 		0, 							
							onSubmit: function(id, fileName){
								//clearError($('#file-uploader'));
							},
							onComplete: function(id, fileName, responseJSON){
								console.log(responseJSON);
								console.log(this.validFormats.indexOf(responseJSON[responseJSON.length-1].format));
								console.log(responseJSON[responseJSON.length-1].format);
								if (responseJSON[responseJSON.length-1].width>=this.minWidth && responseJSON[responseJSON.length-1].height>=this.minHeight && this.validFormats.indexOf(responseJSON[responseJSON.length-1].format)>-1) {
									file = responseJSON[responseJSON.length-1].file;
									//var json = eval(responseJSON);
									$('#playerPreview').show();
									$('#playerPreview').html('<img src="/image/?f='+file+'&w=400&h=300" /><input type="hidden" id="avatar_name" name="avatar_name" value="'+file+'" />');
								} else if (this.validFormats.indexOf(responseJSON[responseJSON.length-1].format)==-1) {
									showModal('error', '#{__("You can upload only jpg, png, gif")}');
								} else {
									showModal('error', '#{__("You have to upload an image at least")}'+': '+this.minWidth+' x '+this.minHeight+' '+'#{__("pixels")}');
								}
							}
						});
					});	
include ../modals/errors
include ../modals/confirm