- //console.dir(result.partners)
- var tmp = {};
- for (partner in result.partners) {
- 	if (!tmp[result.partners[partner].partner_type]) tmp[result.partners[partner].partner_type] = []
- 	tmp[result.partners[partner].partner_type].push(result.partners[partner])
- }
- result.partners = tmp;
- console.dir(result.partners)
	
.tabbable.tabs-left.row
	include ../comp/cp_menu
	.tab-content.col-md-10
		.tab-pane.active
			include ../comp/cp_submenu_event
			form.form-horizontal(method="post", action="#")
				fieldset
					legend=locals.title
					input(name="collection", value="events", type="hidden")
					input(name="_id", value=result._id, type="hidden")
					.clearfix
						button.btn.btn-primary.pull-right(style="margin-bottom:20px;")=__("Add a partner")
					- if (result.partners)
						- var n = 0
						- var connectedSortable = []
						.main-list
							each partner,key in result.partners
								.form-group
									label.col-md-3.control-label=key
									.col-md-9.connectedSortable(id="connectedSortable_"+n)
										- connectedSortable.push("#connectedSortable_"+n)
										- n++
										each p,key2 in partner
											.alert.alert-info
												.clearfix
													.pull-left
														b=p.display_name
														input(type="hidden",name="partners[]",value=JSON.stringify(p))
													.pull-right
														a(href="#",onclick="deletePartner(this,'"+p._id+"');return false;")
															i.glyphicon.glyphicon-remove
														!="&nbsp;&nbsp;&nbsp;"
														a(href="/"+p.permalink+"/",target="_blank")
															i.glyphicon.glyphicon-eye-open
														!="&nbsp;&nbsp;&nbsp;"
														i.glyphicon.glyphicon-move
						- connectedSortableStr = connectedSortable.join(",")
						script
							$(function() {
								$('#{connectedSortableStr}').sortable({
									update: updatePartners,
									connectWith: ".connectedSortable",
									placeholder: "ui-state-highlight"
								}).disableSelection();
							});
					- else
						.alert.text-center=__("Please add a partner")
