- console.dir(result.performances)
.tabbable.tabs-left
	include ../comp/cp_menu
	.tab-content
		.tab-pane.active
			include ../comp/cp_submenu_event
			form.form-horizontal(method="post", action="#")
				fieldset
					legend=locals.title
					.clearfix
						button.btn.btn-primary.pull-right(style="margin-bottom:20px;")=__("Add a performance")
					- if (result.performances && result.performances.length)
						- var n = 0
						- var connectedSortable = []
						each performance,key in result.performances
							.control-group
								label.control-label=key
								.controls.connectedSortable(id="connectedSortable_"+n)
									- connectedSortable.push("#connectedSortable_"+n)
									- n++
									each p,key in performance
										.alert.alert-info
											.clearfix
												.pull-left
													b=p.titolo
													//p
													//	each item,k in p.categories
													//		a(href="#")=item.name
													//		if (k<p.categories.length)
													//			!=", "
													//ul
													//	each item,k in p.users
													//		li
													//			a(href="#")=item.display_name
												.pull-right
													a.btn.btn-mini(href="#")
														i.icon-pencil
													!=" "
													a.btn.btn-mini(href="#")
														i.icon-remove
													!=" "
													a.btn.btn-mini(href="#")
														i.icon-eye-open
													!=" "
													i.icon-move(style="margin:3px 0 0 25px;")
									- connectedSortableStr = connectedSortable.join(",")
									script
										$(function() {
											$('#{connectedSortableStr}').sortable({
												connectWith: ".connectedSortable",
												placeholder: "ui-state-highlight"
											}).disableSelection();
										});
					- else
						.alert.text-center=__("Please add a performance")
