form(name="formLogin", method="post", action="#")
	.row
		.span9
			h2=__("Login")
			- if (typeof msg !== "undefined" && typeof msg.e !== "undefined" && msg.e.length)
				.alert.alert-error
					h4=__("There are some errors")
					ul
						- for(a=0;a<msg.e.length;a++)
							li=msg.e[a].m
			- if (typeof msg !== "undefined" && typeof msg.c !== "undefined" && msg.c.length)
				.alert.alert-success
					h4=__("There are some messages")
					ul
						- for(a=0;a<msg.c.length;a++)
							li=msg.c[a].m
			.offset3
				input(name="login", type="text", placeholder=__("Username")).input-large
				br
				input(name="password", type="password", placeholder=__("Password")).input-large
				label.checkbox=__("Remember_me")
					input(name="remember",type="checkbox", value="true",checked="checked")
					input(name="from",type="hidden", value=locals.from).input-large
				button(type="submit").btn.btn-primary=__("Enter")
			hr.clearfix
			a(href="controlpanel/passwordRequest").btn.btn-link=__("Recover_data")
			a(href="controlpanel/user").btn.btn-link=__("Register")
		.span3
			h3=__("LoginHelpTitle")
			p=__("LoginHelp")
