.container
	form(name="formLogin", method="post", action="#").well
		.row-fluid
			.span8
				h2=__("Register")
				.offset4
					input(name="display_name", type="text", placeholder=__("Stage_name")).input-large
					input(name="permalink", type="text", placeholder=__("Permalink")).input-large
					br
					input(name="passwd", type="password", placeholder=__("Password_insert")).input-large
					input(name="passwd_c", type="password", placeholder=__("Password_confirm")).input-large
					input(name="email", type="text", placeholder=__("Username")).input-xlarge
					input(name="name", type="text", placeholder=__("Name")).input-large
					input(name="surname", type="text", placeholder=__("Surname")).input-large
					input(name="birth_date", type="text", placeholder=__("Birth_date")).input-large
					select(name="gender").input-large
						option(value="")=__("Gender")
						option(value="M")=__("M")
						option(value="F")=__("F")
						option(value="Other")=__("Other")
					input(name="locations[city]", type="text", placeholder=__("City")).input-large
					select(name="locations[country]", default="country").input-large
						option(value="")=__("Country")
						each item in countries
							option(value=item.name)=item.name
					hr.clearfix
					.control-group
						.controls
							button(type="submit").btn.btn-large.input-large.btn-primary.right=__("Save")
			.span4
				h3=__("RegisterHelpTitle")
				p=__("RegisterHelp")
