extends ../layout
block content
	.container
		.tabbable.tabs-left.row
			include ../comp/cp_menu
			.tab-content.col-md-10
				.tab-pane.active
					include ../comp/cp_submenu_user
					form.form-horizontal(method="post")
						input(name="collection", value="users", type="hidden")
						input(name="_id", value=result._id, type="hidden")
						input(name="form", value=form, type="hidden")
						fieldset
							legend=title
							include ../comp/msg
							.form-group
								label.col-sm-2.control-label=__("New password")
								.col-sm-10
									input(type="text",name="password", placeholder=__("New password")).form-control
							.form-group
								label.col-sm-2.control-label=__("Confirm new password")
								.col-sm-10
									input(type="text",name="password_confirm",placeholder=__("Confirm new password")).form-control
							hr.clearfix
							.form-group
								label.col-sm-2.control-label
								.col-sm-10
									button(type="submit").btn.btn-primary.btn-lg=__("Save")
