.tabbable.tabs-left
	include ../comp/cp_menu
	.tab-content
		.tab-pane.active
			include ../comp/cp_submenu_user
			form.form-horizontal(method="post", action="#")
				fieldset
					legend=locals.title
					.control-group
						label.control-label=__("FLxER")
						.controls
							button.btn.btn-success(type="button")=__("Connect")
							button.btn.btn-danger(type="button",class="disabled")=__("Disconnect")
					.control-group
						label.control-label=__("Facebook")
						.controls
							button.btn.btn-success(type="button")=__("Connect")
							button.btn.btn-danger(type="button",class="disabled")=__("Disconnect")
					.control-group
						label.control-label=__("Twitter")
						.controls
							button.btn.btn-success(type="button")=__("Connect")
							button.btn.btn-danger(type="button",class="disabled")=__("Disconnect")
