.row
	- if (typeof msg !== "undefined" && typeof msg.c !== "undefined" && msg.c.length)
		.span6.offset3
			include ../comp/msg
	- else
		.span6.offset3.well
			.text-center
				h3=__("Join AV Node. Start to perform.")
				p
					a.btn.btn-danger(href="/signup/google/")=__("Google")
					!=" "
					a.btn.btn-inverse(href="/signup/twitter/")=__("Twitter")
					!=" "
					a.btn.btn-primary(href="/signup/facebook/")=__("Facebook")
				p=__("or sign up using your email:")
			form(method="post",autocomplete="off")
				.controls.text-center
					hr
					label.radio.inline
						input(type="radio", autocomplete="off",name="is_crew", value="0", onclick="$('#crew').hide('slow')", checked=typeof result.is_crew !== "undefined" && result.is_crew==="0"  ? "checked" : undefined)
						!=" "+__("As individual")
					label.radio.inline
						input(type="radio", autocomplete="off",name="is_crew", value="1", onclick="$('#crew').show('slow')", checked=typeof result.is_crew !== "undefined" && result.is_crew==="1"  ? "checked" : undefined)
						!=" "+__("As crew")
					hr
				include ../comp/msg
				#crew(class=result.is_crew ? undefined : "hide")
					legend=__("Crew public data")
					.controls.row
						.span6
							label=__("Crew name")
								input(type="text", value=result.crew_display_name, autocomplete="off", name="crew_display_name", placeholder=__("Crew stage name")).span6
					.controls.row
						.span6
							label=__("Crew profile url")
								input(type="text", value=result.crew_permalink, autocomplete="off", name="crew_permalink", placeholder=__("Crew profile url")).span6
								.help-block="https://flxer.net/"
									span#crew_permalink
				legend=__("Member private data")
				.controls.row
					.span3
						label=__("Name")
							input(type="text", value=result.name, autocomplete="off", name="name", placeholder=__("Name"))
					.span3
						label=__("Surname")
							input(type="text", value=result.surname, autocomplete="off", name="surname", placeholder=__("Surname"))
				.controls.row
					.span6
						label=__("Email")
							input(type="text", value=result.email, autocomplete="off", name="email", placeholder=__("Your Email Address")).span6
				.controls.row
					.span3
						label=__("Password")
							input(type="password", autocomplete="off", name="password", placeholder=__("Choose a Password")).span3
					.span3
						label=__("Confirm password")
							input(type="password", autocomplete="off", name="passwordconfirm", placeholder=__("Confirm password")).span3
				.controls.row
					.span6
						label.control-label=__("Birth date")
						.controls
							- d = new Date(result.birth_date)
							- birth_date = d.getFullYear()+"-"+("0" + (d.getMonth()+1)).slice(-2)+"-"+("0" + d.getDate()).slice(-2)
							.birthday-picker
				.controls.row
					.span3
						label.control-label=__("Country of citizenship")
						.controls
							select(name="citizenship").input-medium
								option(value="")=__("Country")
								each country in countries
									option(value=country.name,selected=(result.citizenship && country.name==result.citizenship ? "selected" : undefined))=country.name
					.span3
						label.control-label=__("Gender")
						.controls
							select(name="gender").input-small
								option(value="")=__("Gender")
								option(value="M",selected=(result.gender=="M" ? "selected" : undefined))=__("M")
								option(value="F",selected=(result.gender=="F" ? "selected" : undefined))=__("F")
								option(value="Other",selected=(result.gender=="Other" ? "selected" : undefined))=__("Other")



				legend=__("Member public data")
				.controls.row
					.span6
						label=__("Stage name")
							input(type="text", value=result.display_name, autocomplete="off", name="display_name", placeholder=__("Stage name")).span6
				.controls.row
					.span6
						label=__("Profile url")
							input(type="text", value=result.permalink, autocomplete="off", name="permalink", placeholder=__("Profile url")).span6
							.help-block="https://avnode.net/"
								span#permalink
						hr

				.controls
					button(type="submit").btn.btn-primary.pull-right=__("Get Started")+"  "
						i.icon-forward.icon-white
			script
				$(function () {
					$(".birthday-picker").birthdaypicker(options={
						dateFormat:		"bigEndian",
						monthFormat:	"long",
						defaultDate:	"#{birth_date}"
					});
				});
