.tabbable.tabs-left
	include ../comp/cp_menu
	.tab-content
		.tab-pane.active
			include ../comp/cp_submenu_user
			form.form-horizontal(method="post", action="#")
				input(name="collection", value="users", type="hidden")
				input(name="_id", value=result._id, type="hidden")
				fieldset
					legend=locals.title
					.control-group
						label.control-label=__("Emails")
						.controls
							#emails
								each item,index in result.emails
									- //item.valid = 0
									- //item.primary = 0
									.email
										span.control-group(class=item.valid ? "" : "error")
											.input-append
												input(name="emails["+index+"][email]",type="text",value=item.email,placeholder=__("Email"),class=item.primary ? "disabled" : undefined).input-xlarge
												input(name="emails["+index+"][valid]",type="hidden",value=item.valid)
												input(name="emails["+index+"][primary]",type="hidden",value=item.primary)
												input(name="emails["+index+"][public]",type="hidden",value=item.public)
												- if (item.primary)
													span.add-on
														i.icon-lock
												- else
													a.add-on(href="#",onclick="emailRemove(this);return false;",onmouseover="$(this).tooltip('show')",data-toggle="tooltip",title="",data-original-title=__("Remove email"))
														i.icon-remove
											- if (item.valid && !item.primary)
												.help-inline
													a(href="#",onclick="setPrimary(this);return false;")=__("Set as primary")
											- if (!item.valid)
													span.help-inline=__("Waiting email validation")
										.help-block(class=item.valid ? "" : "hide")
											label.checkbox.inline=__("Newsletters")+": "
											- each mailinglist in _config.mailinglists
												label.checkbox.inline
													input(name=mailinglist, autocomplete="off", onchange="setNewsletter('"+item.email+"', this)", type="checkbox",value="1",checked=(item.mailinglists && item.mailinglists[mailinglist]==1 ? "checked" : undefined))
													!=mailinglist
											br
											label.checkbox.inline=__("Newsletters language")+": "
												select(autocomplete="off", onchange="setNewsletter('"+item.email+"', this)")
													option=__("Select a language")
													each item2,index2 in _config.locales_labels
														option(value=index2,selected=(index2==item.lang ? "selected" : undefined))=item2
												.help-inline
										hr
								.email.control-group
									label=__("Add a new email")
									.control
										.input-append
											input#email_add(autocomplete="off",type="text",placeholder=__("Email")).input-xlarge
											button.btn.btn-success(autocomplete="off", type="button", onclick="emailAdd();return false;")
												i.icon-ok.icon-white
												!=" "
												!=__("Validate")
										.help-inline
					hr.clearfix
include ../modals/errors