- if(result.locations && result.locations.length && !result.locations[0].lat) result.locations[0].lat = 41.8929163;
- if(result.locations && result.locations.length && !result.locations[0].lng) result.locations[0].lng = 12.482519899999943;
.tabbable.tabs-left
	include ../comp/cp_menu
	.tab-content
		.tab-pane.active
			include ../comp/cp_submenu_user
			form.form-horizontal(method="post")
				input(name="collection", value="users", type="hidden")
				input(name="_id", value=result._id, type="hidden")
				input(name="form", value=form, type="hidden")
				fieldset
					legend=locals.title
					include ../comp/msg
					.control-group
						label.control-label=__("Stage name")
						.controls
							input(autocomplete="off", name="display_name", value=result.display_name, type="text", placeholder=__("Stage name")).input-large
					.control-group
						label.control-label=__("Profile url")
						.controls
							input(autocomplete="off", name="permalink", value=result.permalink, type="text", placeholder=__("Profile url")).input-large
							span.help-inline
							.help-block="https://flxer.net/"
								span#permalink=result.permalink
					include ../comp/text_multilang
					include ../comp/websites
					.control-group
						label.control-label=__("Locations")
						.controls
							#map_canvas
							hr
							#sortable
								- if (result.locations && result.locations.length)
									- var n = 0
									- var connectedSortable = []
									each location,key in result.locations
										.alert.alert-info
											.clearfix
												.pull-left
													input(name="locations[]", value=JSON.stringify(location), type="hidden")
													h4=location.country+(location.locality ? ", "+location.locality : "")
													- if (location.lat && location.lng)
														div=location.lat+" / "+location.lng
												.pull-right
													a.btn.btn-mini(href="#",onclick="deleteLocation(this);return false;")
														i.icon-remove
													!=" "
													i.icon-move(style="margin:3px 0 0 25px;")
		
							.text-right
									a.btn.btn-mini.btn-primary(href="#", onclick="showMapAdd();return false;")
										i.icon-plus.icon-white
										!=" "+__("Add a Location")
					hr.clearfix
					.control-group
						.controls
							button(type="submit").btn.btn-large.input-large.btn-primary=__("Save")
			script(type="text/javascript")
				$(function(){
					$('#sortable').sortable({
						placeholder: "ui-state-highlight"
					}).disableSelection();

					var data=jQuery.parseJSON('!{JSON.stringify(result.locations)}');
					initializeMap(data);
				});
include ../modals/search_map