- console.log(result)
.tabbable.tabs-left
	include ../comp/cp_menu
	.tab-content
		.tab-pane.active
			include ../comp/cp_submenu_user
			form.form-horizontal(method="post")
				input(name="collection", value="users", type="hidden")
				input(name="_id", value=result._id, type="hidden")
				input(name="form", value=form, type="hidden")
				fieldset
					legend=locals.title
					include ../comp/msg
					.control-group
						label.control-label=__("Name")
						.controls
							input(name="name", value=result.name, type="text", placeholder=__("Name")).input-large
					.control-group
						label.control-label=__("Surname")
						.controls
							input(name="surname", value=result.surname, type="text", placeholder=__("Surname")).input-large
					.control-group
						label.control-label=__("Birth date")
						.controls
							- d = new Date(result.birth_date)
							- birth_date = d.getFullYear()+"-"+("0" + (d.getMonth()+1)).slice(-2)+"-"+("0" + d.getDate()).slice(-2)
							.birthday-picker
					.control-group
						label.control-label=__("Gender")
						.controls
							select(name="gender").input-small
								option(value="")=__("Gender")
								option(value="M",selected=(result.gender=="M" ? "selected" : undefined))=__("M")
								option(value="F",selected=(result.gender=="F" ? "selected" : undefined))=__("F")
								option(value="Other",selected=(result.gender=="Other" ? "selected" : undefined))=__("Other")
					.control-group
						label.control-label=__("Country of citizenship")
						.controls
							select(name="citizenship").input-medium
								option(value="")=__("Country")
								each country in countries
									option(value=country.name,selected=(result.citizenship && country.name==result.citizenship ? "selected" : undefined))=country.name
					.control-group
						label.control-label=__("Phone numbers")
						.controls
							- if (result.phonenumbers)
								each phone in result.phonenumbers
									.clearfix
										.input-append
											input(value=phone,name="phonenumbers[]",type="text",placeholder=__("Phone number")).input-large
											button.btn(type="button",onclick="$(this).parent().parent().remove()")
												i.icon-remove
										br
										br
							.input-append
								input(name="phonenumbers[]",type="text",placeholder=__("Phone number")).input-large
					hr.clearfix
					.control-group
						.controls
							button(type="submit").btn.btn-large.input-large.btn-primary.right=__("Save")
				script
					$(function () {
						$(".birthday-picker").birthdaypicker(options={
							dateFormat:		"bigEndian",
							monthFormat:	"long",
							defaultDate:	"#{birth_date}"
						});
					});
