div.list_item_performer.grid-item.col-sm-6(class="col-md-6 gallery_footage")
	a(href="/#{box.users[0].permalink}/gallery/#{box.permalink}/", title=box.title)
		.image_box

			.footage_stats.box_stats
				ul.list-inline
					li
						i(class="fa fa-picture-o")
						span= box.stats.img
					li
						// MISSING DATA: NUMBER OF VIDEO
						i(class="fa fa-video-camera")
						span= box.stats.video
					li
						i(class="fa fa-eye")
						span= box.stats.visits
			each file, i in box.files
				if i === 0
					img(alt=box.title, src=file.file)
		.title_and_info_container
			h3= box.title
				ul.list-inline.box_other_infos
					li
						i(class="fa fa-caret-right")
						// MISSING DATA: TYPOLOGY
						span typology
					li
						i(class="fa fa-map-marker")
						// MISSING DATA: TYPOLOGY
						span= "location "
						span= "city "
						span country
