mixin performance_item_content
	.box_wrapper
		a(href="/#{box.users[0].permalink}/performances/#{box.permalink}/", title=box.title)
			- if (box.files && box.files.length)
				each file, i in box.files
					if i === 0
					//img.main_performace_image(src=file.file)
					img.main_performance_image(src="http://img.dummy-image-generator.com/abstract/dummy-946x532-Stones.jpg")
		a(href="/#{box.users[0].permalink}/performances/#{box.permalink}/", title=box.title)
			h3.main_event_title.col-sm-12= box.title
		.main_event_box
			.main_event_details
				.col-sm-6.col-xs-12.col-md-12
					ul.list-inline
						li=box.event_data.room
						li=_h.date.getPerformanceTime(box.event_data.start_date) + " | " + _h.date.getEventDate(box.event_data.start_date)
				.col-sm-6.col-xs-12.col-md-12
					ul.list-inline.performer_main_data
						li.col-sm-12
							if ( box.users.length > 1 )
								i.fa.fa-caret-right(aria-hidden='true')
								a.performance_owner(type='button', data-toggle='modal', data-target='##{box.users[0].permalink}')
									span= __("+authors")
									span= " [ " + box.users.length + " ]"
								// performance authors modal
								div.modal.fade(id='#{box.users[0].permalink}', role='dialog')
									.modal-dialog
										.modal-content
											.modal-header
												button.close(type='button', data-dismiss='modal') ×
												h4= box.title + " authors"
											.modal-body
												ul.list-inline
													each user in box.users
														li
															a(href="#{user.permalink}" title='#{user.display_name}')
																span= user.display_name
							else
								i.fa.fa-caret-right(aria-hidden='true')
								a.performance_owner(href="/#{box.users[0].permalink}", title=box.users[0].display_name)= box.users[0].display_name

						li.evidence-performance_stats.evidence-performance_stats_visits
							span
								i.fa.fa-eye(aria-hidden='true')
							span.stat.value= box.stats.visits
						li.evidence-performance_stats
							span
								i.fa.fa-thumbs-o-up(aria-hidden='true')
							span.stat.value= box.stats.rates.tot_rate
				.col-sm-6.col-xs-12.col-md-12
					ul.evidence-performance_categories.list-inline
						each category in box.categories
							- if (category.ancestors && category.ancestors.length && category.ancestors[0].permalink == "type")
								li
									i(class="fa fa-cube")
									a(href="/#{category.permalink}", title=category.name)= category.name
							- if (category.ancestors && category.ancestors.length && category.ancestors[0].permalink == "genere")
								li
									i(class="fa fa-cube")
									a(href="/#{category.permalink}", title=category.name)= category.name


if (col_number)
	div.list_item_performer.grid-item.performances_performer(class= col_number)
		+performance_item_content
else
	div.list_item_performer.grid-item.col-sm-3(class="col-md-3 performances_performer")
		+performance_item_content



