extends ../layout

block variables
	- var activeChapter='crews'
	- var activeSection='public'

block inner-content
	include ../menu
	+render-alerts(alerts)
	form.form-horizontal(method="post", data-parsley-validate)
		input(name="_id", value=result._id, type="hidden")
		fieldset
			legend=__("General")
			.form-group
				label.col-sm-2.control-label=__("Stage name")
				.col-sm-10
					input(name="display_name", value=result.display_name, type="text", placeholder=__("Stage name"), required).form-control
			.form-group
				label.col-sm-2.control-label(for="permalink")=__("Profile url")
				.col-sm-10
					.input-group
						span.input-group-addon=config.baseurl
						input.form-control(autocomplete="off", type="text", value=result.permalink, name="permalink", placeholder=__("Profile url"), required, pattern="[a-zA-z0-9]+")
			+multilanguage-text(result.text)
			+websites(result.websites)

		+save-button
