div(class="col-md-6")
	.media
		.pull-left
			a(href="#{/box.users[0].permalink}/#{basepath}/#{box.permalink}/")
				img.media-object(alt=__("Thumbnail of") + ": #{box.title}", src=Fnc.getFileFormat(box.files, 90, 68))
			ul.stats
				li=__("Visits") + ": " + box.stats.visits
				li=__("Likes")+ ": " + box.stats.rates.tot_rate
		.media-body
			h4.media-heading
				a(href="/"+(typeof(boxpath) === 'undefined' ? box.users[0].permalink : boxpath)+"/"+config.sections[sez].basepath+"/"+box.permalink+"/")=box.title
			- categories = "";
			- for(item in box.categories)
				- if (box.categories[item] && box.categories[item].ancestors && box.categories[item].ancestors[0].permalink=="lv-projects-categories") categories+="<li><a href=\"/"+config.sections[sez].basepath+"/"+box.categories[item].permalink+"/\">"+box.categories[item].name+"</a></li>"
			- if (categories)
				ul.stats!=categories
			ul.stats
				- for(item in box.users)
				li!=box.users[item].display_name
			- if (box.date_time_venue)
				- categories = "";
				- if (box.date_time_venue[0] && box.date_time_venue[0].date) categories+="<li>"+(box.date_time_venue.length>1 ? __("Starts")+": " : "")+Fnc.getEventDate(box.date_time_venue[0].date)+", "+box.date_time_venue[0].start_time+" | "+box.date_time_venue[0].venue+"</li>"
				- if (box.date_time_venue[box.date_time_venue.length-1] && box.date_time_venue[box.date_time_venue.length-1].date && box.date_time_venue.length>1) categories+="<li>"+__("Ends")+": "+Fnc.getEventDate(box.date_time_venue[box.date_time_venue.length-1].date)+", "+box.date_time_venue[box.date_time_venue.length-1].end_time+" | "+box.date_time_venue[box.date_time_venue.length-1].venue+"</li>"
				- if (categories)
					ul.stats!=categories
