h1=_config.sections[locals.sez].title+" "
	small=__("From")+" "+locals.skip+" "+__("to")+" "+(locals.skip+_config.sections[locals.sez].limit)+" "+__("on")+" "+locals.tot+" "+__("performers")
include comp/submenu_sez
.row.main-list
	- for(a=0;a<locals.result.length;a++)
		.span3
			.media
				.pull-left
					a(href="/"+locals.result[a].permalink+"/")
						img.media-object(alt=__("Thumbnail of")+": "+locals.result[a].display_name, src=locals.Fnc.getFileFormat(locals.result[a].files, 90, 68))
				.media-body
					h4.media-heading
						a(href="/"+locals.result[a].permalink+"/")=locals.result[a].display_name
					- stats = "";
					- if (!locals.result[a].stats.performances) locals.result[a].stats.performances = 0;
					- for(item in locals.result[a].stats)
						- if (locals.result[a].stats[item] || item == "performances") stats+="<li>"+__(item)+": "+locals.result[a].stats[item]+"</li>"
					- if (stats)
						ul.stats!=stats
include comp/paginator
