- var user
!!!
html(lang=_config.lang)
	head
		title=(locals.title ? locals.title+" | FLxER" : "FLxER - PERFORMING VIDEO NETWORK AND SOFTWARE")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="author", content="FLYER COMMUNICATION, Gianluca Del Gobbo, Flavio Distefano")
		meta(name="robots", content="all")
		meta(name="keywords", content=__("meta-keywords"))
		meta(name="description", content=locals.description)

		//- if(is_facebook())
			meta(property="og:title", content=(locals.title ? locals.title : "FLxER - PERFORMING VIDEO NETWORK AND SOFTWARE"))
			meta(property="og:type", content=(locals.type ? locals.type : "website"))
			meta(property="og:url", content='')
			meta(property="og:image", content='')
			meta(property="og:site_name", content=_config.site_name)
			meta(property="og:description", content=locals.description)
			meta(property="fb:admins", content=_config.admins)
			meta(property="fb:app_id", content=_config.app_id)
			meta(property="og:locale", content=_config.locale)


		link(type="text/css", href="/lib/jquery/css/smoothness/jquery-ui-1.8.17.custom.css", rel="stylesheet")	
		script(type="text/javascript", src="/lib/jquery/js/jquery-1.7.1.min.js")
		link(type="text/css", href="/lib/bootstrap.min.css", rel="stylesheet")	
		script(type="text/javascript", src="/lib/bootstrap.min.js")
		script(type="text/javascript", src="/lib/jquery/js/jquery-ui-1.8.17.custom.min.js")

		script(type="text/javascript", src="/_lang/"+_config.lang+".js")
		script(type="text/javascript", src="/js/fpVariables.js")
		script(type="text/javascript", src="/js/fpManager.js")
		script(type="text/javascript", src="/js/fpCheck.js")
		script(type="text/javascript", src="/js/script.js?v=1.2")
		script(type="text/javascript", src="/js/sendMsg.js")
		script(type="text/javascript", src="/js/notifications.js")
		script(type="text/javascript", src="/js/playList.js")
		script(type="text/javascript", src="/js/rate.js")
		script(type="text/javascript", src="/js/ajaxSlideShowLoader.js")

		//script(type="text/javascript", src="http://cdn.gigya.com/js/socialize.js?apiKey=2_B2v2RgZOGGx4SxCW1frvgSeM5PW8MWRLqnPNwXeDZ3RP0zZuI78lJccYf2-p453s")
		script(type="text/javascript")
			var conf = {APIKey:'2_B2v2RgZOGGx4SxCW1frvgSeM5PW8MWRLqnPNwXeDZ3RP0zZuI78lJccYf2-p453s'}

		//link(href="/css/style.css", rel="stylesheet", type="text/css")
		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '<? echo($this->initObj["sections"]["analytics"][$this->initObj["area"]]); ?>']);
			_gaq.push(['_setDomainName', 'flxer.net']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);
		
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body
		.container
			.nav.navbar.pull-right
				.navbar-inner
					ul.nav
						li.active
							form.navbar-form.form-search(action="/search/")#cse-search-box
								input(type="hidden", name="cx", value="008270153029254647808:_czuhrjkjpk")
								input(type="hidden", name="cof", value="FORID:10")
								input(type="hidden", name="ie", value="UTF-8")
								.input-append
									input.span2.search-query(type="text", 	name="q", size="31", value=locals.q)
									button.btn(type="submit", name="sa")=__("Cerca")
							script(type="text/javascript", src="https://www.google.com/cse/brand?form=cse-search-box&amp;lang"+_config.lang)
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown")
								!=__(_config.lang)+" "
								b.caret
							ul.dropdown-menu			
								li(href="/controlpanel/?edit=performances&amp;perfid=0")=__(_config.lang)
			header
				.row
					h2.span3
						a(href="/", title="FLxER - PERFORMING VIDEO NETWORK AND SOFTWARE")
							img(src="/img/logoFLxER.gif", alt="FLxER - PERFORMING VIDEO NETWORK AND SOFTWARE")
					.span9=locals.bannerTop
					
			nav.navbar.navbar-inverse#menu
				//.navbar-fixed-top
				.navbar-inner
					ul.nav
						li
							a(href="/events/")=__("Eventi")
						li
							a(href="/performances/")=__("Performances")
						li
							a(href="/tvshows/")=__("TV Shows")
						li(class=(locals.title=="Performers" ? "active" : ""))
							a(href="/performers/")=__("Performers")
						li
							a(href="/footage/")=__("Posts")
						li
							a(href="/playlists/")=__("Playlists")
					ul.nav.pull-right
						li
							a(href="/controlpanel/"+(user ? "" : "login/"), onclick="$('#menuUser').toggle();$('#menuNew').hide();return false;")=(user ? __("Account") : __("Login"))
						- if(!user)
							li
								a(href="/controlpanel/new/")=__("Registrati")
						- else
							li(style="position:relative")
								a(href="/"+user.user_name+"/notifications/", title=__("Visualizza le notifiche"))=__("Notifiche")
									span.jewelCount=locals.notifiche
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown")
								!=__("Nuovo contenuto")+" "
								b.caret
							ul.dropdown-menu(role="menu")
								li
									a(href="/controlpanel/?edit=performances&amp;perfid=0")=__("Nuova performance")
								li
									a(href="/controlpanel/?edit=footage&amp;footageid=0")=__("Nuovo post")
								li
									a(href="/controlpanel/?edit=events&amp;eventid=0")=__("Nuovo evento")
								li
									a(href="/controlpanel/?edit=tvshows&amp;tvshowid=0")=__("Nuovo TV Show")
								li
									a(href="/controlpanel/?edit=postiflxer&amp;postiflxerid=0")=__("Nuovo iFLxER file")
								li
									a(href="/controlpanel/?edit=forum&amp;forumid=0")=__("Nuova discussione")
			!= body
			//<? include_once($this->initObj['site_path']."_php/modelli/".$this->modello); ?>
			.row
				.span1
					img(alt="FLxER.NET", src="/img/logo_piede.gif")
				.span11
					.pull-left
						strong="FLxER.net"
						!=" | "+__("un progetto di Flyer communication")
						br
						a(title=__("Scrivi a FLxER.net"), href="mailto:info@flxer.net")="info@flxer.net"
						!=" // P.IVA: 06589171005"
					- d = new Date()
					.pull-right(style="text-align:right;")="NO &copy; "+d.getFullYear()
						br
						a(href="/disclaimers/privacy/")=__("Privacy")
						!=" // "
						a(href="/disclaimers/terms/")=__("Termini e condizioni")
						!=" // "
						a(href="/disclaimers/guidelines/")=__("Linee guida")
			nav.navbar.navbar-inverse
				.navbar-inner
					ul.nav
						li
							a(title=__("flyer"), target="_blank", href="http://www.flyer.it")
								span.bulletSmall
								!="FLYER"
						li
							a(title=__("flyerwp"), target="_blank", href="http://wp.flyer.it")
								span.bulletSmall
								!="FLYER WP"
						li.corpSel
							span.bulletSmall
							!="FLxER"
						li
							a(title=__("vjtv"), target="_blank", href="http://www.vjtelevision.com/")
								span.bulletSmall
								!="VJ TELEVISION"
						li
							a(title="LPM Live Performers Meeting", target="_blank", href="http://www.liveperformersmeeting.net/")
								span.bulletSmall
								!="LPM"
						li
							a(title=__("learning"), target="_blank", href="http://learning.flyer.it/")
								span.bulletSmall
								!="LEARNING"
						li
							a(title=__("shockart"), target="_blank", href="http://shockart.net/")
								span.bulletSmall
								!="SHOCKART"
						li
							a(title=__("wam"), target="_blank", href="http://wam.flyer.it")
								span.bulletSmall
								!="WAM"
		- if(locals.reply && user)
			script(type="text/javascript")
				$(document).ready(function(){
					sendDelay();
				});
				function sendDelay() {
					c = setTimeout(openSendMsgPanel2,500)
				}
				function openSendMsgPanel2() {
					clearTimeout(c);
					openSendMsgPanel('<? echo($this->u_id) ?>','sendMsg','<? echo($this->getLabel("Invia un messaggio a")) ?> <? echo($this->u_name) ?>','');
				}
