!!!
html(lang=_config.lang)
	head
		title=(locals.title ? locals.title+" | FLxER" : "FLxER - PERFORMING VIDEO NETWORK AND SOFTWARE")
		//meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="author", content="FLYER COMMUNICATION, Gianluca Del Gobbo, Flavio Distefano")
		meta(name="robots", content="all")
		meta(name="keywords", content=__("meta-keywords"))
		meta(name="description", content=locals.description)

		//- if(is_facebook())
			meta(property="og:title", content=(locals.title ? locals.title : "FLxER - PERFORMING VIDEO NETWORK AND SOFTWARE"))
			meta(property="og:type", content=(locals.type ? locals.type : "website"))
			meta(property="og:url", content='')
			meta(property="og:image", content='')
			meta(property="og:site_name", content=_config.site_name)
			meta(property="og:description", content=locals.description)
			meta(property="fb:admins", content=_config.admins)
			meta(property="fb:app_id", content=_config.app_id)
			meta(property="og:locale", content=_config.locale)


		link(type="text/css", href="/lib/bootstrap.min.css", rel="stylesheet")	
		link(type="text/css", href="/lib/bootstrap-datepicker/datepicker.css", rel="stylesheet")	
		link(type="text/css", href="/lib/bootstrap-timepicker/bootstrap-timepicker.min.css", rel="stylesheet")	
		link(type="text/css", href="/lib/uploader/fileuploader.css", rel="stylesheet")	
		link(type="text/css", href="/lib/bootstrap-jquery-ui-1.10.1.custom.css", rel="stylesheet")	
		link(type="text/css", href="/lib/bootstrap-switch.css", rel="stylesheet")	
		link(type="text/css", href="/css/style.css", rel="stylesheet")	
		script(type="text/javascript", src="/lib/jquery-1.9.1.js")


	body
		.container
			if (typeof(userpage) === 'undefined')
				.nav.navbar.pull-right
					.navbar-inner
						ul.nav
							li.active
								form.navbar-form.form-search(action="/search/")#cse-search-box
									input(type="hidden", name="cx", value="008270153029254647808:_czuhrjkjpk")
									input(type="hidden", name="cof", value="FORID:10")
									input(type="hidden", name="ie", value="UTF-8")
									.input-append
										input.span2.search-query(type="text", 	name="q", size="31", value=locals.q)
										button.btn(type="submit", name="sa")=__("Cerca")
								//script(type="text/javascript", src="https://www.google.com/cse/brand?form=cse-search-box&amp;lang"+_config.lang)
							li.dropdown
								a.dropdown-toggle(href="#", data-toggle="dropdown")
									!=__(_config.lang)+" "
									b.caret
								ul.dropdown-menu			
									li(href="/controlpanel/?edit=performances&amp;perfid=0")=__(_config.lang)
				header
					.row
						h2.span4.logo
							a(href="/", title="FLxER - PERFORMING VIDEO NETWORK AND SOFTWARE")
								img(src="/img/logo.gif", alt="AV node - PERFORMING VIDEO NETWORK")
						.span8=locals.bannerTop
					
			nav.navbar.navbar-inverse#menu(class=(typeof(userpage) !== 'undefined' && userpage ? "navbar-fixed-top" : undefined))
				//.navbar-fixed-top
				.navbar-inner
					- if (typeof(userpage) !== 'undefined' && userpage)
						a.brand(href="/")=" AV Node"
					ul.nav
						- each item in _config.sections
							- if (item.view_list)
								li(class=(_config.sections[locals.sez] && _config.sections[locals.sez].basepath==item.basepath ? "active" : undefined))
									a(href="/"+item.basepath+"/")=item.title
					ul.nav.pull-right
						li
							a(href="/controlpanel/"+(user ? "user/" : "login/"))=(user ? __("Account") : __("Login"))
						- if(!user)
							li
								a(href="/signup/")=__("Registrati")
						- else
							li
								a(href="/controlpanel/logout/")=__("Logout")
							li(style="position:relative")
								a(href="/"+user.user_name+"/notifications/", title=__("Visualizza le notifiche"))=__("Notifiche")
									span.jewelCount=locals.notifiche
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown")
								!=__("Nuovo contenuto")+" "
								b.caret
							ul.dropdown-menu(role="menu")
								li
									a(href="/controlpanel/?edit=performances&amp;perfid=0")=__("Nuova performance")
								li
									a(href="/controlpanel/?edit=footage&amp;footageid=0")=__("Nuovo post")
								li
									a(href="/controlpanel/?edit=events&amp;eventid=0")=__("Nuovo evento")
								li
									a(href="/controlpanel/?edit=tvshows&amp;tvshowid=0")=__("Nuovo TV Show")
								li
									a(href="/controlpanel/?edit=postiflxer&amp;postiflxerid=0")=__("Nuovo iFLxER file")
								li
									a(href="/controlpanel/?edit=forum&amp;forumid=0")=__("Nuova discussione")
			!= body
			hr
			.media
				.pull-left
					img(alt="AVnode.net", src="/img/logo_piede.gif")
				.media-body
					h4.media-heading="AVnode.net"
						small=" | "+__("a project of AVnode.org")
					- d = new Date()
					ul.nav.nav-pills
						li
							span="NO &copy; "+d.getFullYear()
						li
							a(href="http://avnode.org")=__("AVnode.org")
						li
							a(href="/disclaimers/about/")=__("About")
						li
							a(href="/disclaimers/about/")=__("Developers & API")
						li
							a(href="/disclaimers/privacy/")=__("Privacy")
						li
							a(href="/disclaimers/terms/")=__("Terms and conditions")
						li
							a(href="/disclaimers/guidelines/")=__("Guidelines")
						li.pull-right
							a(href="http://www.flyer.it", target="_blank", data-toggle="tooltip", onmouseover="$(this).tooltip('show')", title=__("This website is developed with NodeJS and MongoDB from Flyer communication"))
								img(alt="Flyer.it", src="/img/logo_flyer.gif")
		script(type="text/javascript", src="/lib/bootstrap.min.js")
		script(type="text/javascript", src="/lib/bootstrap-datepicker/bootstrap-datepicker.js")
		script(type="text/javascript", src="/lib/bootstrap-timepicker/bootstrap-timepicker.min.js")
		script(type="text/javascript", src="/lib/uploader/fileuploader.js")
		script(type="text/javascript", src="/lib/jquery-ui-1.10.2.custom.js")
		script(type="text/javascript", src="/lib/bday-picker.min.js")
		script(type="text/javascript", src="/lib/bootstrap-switch.js")
		script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places")
		script(type="text/javascript", src="/lib/jquery.geocomplete.min.js")
		
		script(type="text/javascript", src="/validators.js")
		script(type="text/javascript", src="/fp/swfobject.js")
		script(type="text/javascript", src="/js/script.js?v=1.2")
		script(type="text/javascript")

		script(type="text/javascript", src="/_lang/"+_config.lang+".js")
		//
			script(type="text/javascript", src="/js/fpVariables.js")
			script(type="text/javascript", src="/js/fpManager.js")
			script(type="text/javascript", src="/js/fpCheck.js")
			script(type="text/javascript", src="/js/sendMsg.js")
			script(type="text/javascript", src="/js/notifications.js")
			script(type="text/javascript", src="/js/playList.js")
			script(type="text/javascript", src="/js/rate.js")
			script(type="text/javascript", src="/js/ajaxSlideShowLoader.js")
			script(type="text/javascript")
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', _config.googleAnalytics]);
				_gaq.push(['_setDomainName', 'flxer.net']);
				_gaq.push(['_setAllowLinker', true]);
				_gaq.push(['_trackPageview']);
			
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					//ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
		- if(locals.reply && user)
			script(type="text/javascript")
				$(document).ready(function(){
					sendDelay();
				});
				function sendDelay() {
					c = setTimeout(openSendMsgPanel2,500)
				}
				function openSendMsgPanel2() {
					clearTimeout(c);
					openSendMsgPanel('<? echo($this->u_id) ?>','sendMsg','<? echo($this->getLabel("Invia un messaggio a")) ?> <? echo($this->u_name) ?>','');
				}
