extends layout
block content
	.user_dett.single_event_page
		.container
			- //console.log (call.subscriber_id)
			h1=dett.title
			- if (dett.subtitle)
				h3=Fnc.getTextFormat(dett.subtitle, config.lang, true)
			- if (!dett.settings.call_is_active)
				p=__("No call for proposals is active")
			- else if (!user || !user.login)
				p=__("To participate to the call for proposal you have to be logged in")
				a.btn.btn-primary(href="/controlpanel/login/?from=/"+dett.users[0].permalink+"/events/"+dett.permalink+"/participate/")=__("LOGIN")
				a.btn.btn-default(href="/controlpanel/register/?from=/"+dett.users[0].permalink+"/events/"+dett.permalink+"/participate/")=__("REGISTER")
			- else
				h1="Step "+(call.step+1)
				include comp/msg
				form(method="post")
					case call.step
						when 0
							h2=__("Active calls")
							- for(var a=0;a<dett.settings.call.calls.length;a++)
								- var admitted = []
								- for(var b=0;b<dett.settings.call.calls[a].admitted.length;b++)
									- admitted.push(dett.settings.call.calls[a].admitted[b])
								- var topics = []
								- for(var b=0;b<dett.settings.call.calls[a].topics.length;b++)
									- topics.push(dett.settings.call.calls[a].topics[b].name)
								.radio
									label
										input(type="radio" name="index" value=a checked=call.index==a ? "checked" : undefined)
										h3=dett.settings.call.calls[a].title
										p=__("Start date")+": "+dett.settings.call.calls[a].start_date+" | "+__("End date")+": "+dett.settings.call.calls[a].end_date+" | "+__("Email")+": "+dett.settings.call.calls[a].email
										p=__("Admitted projects") + ": " + admitted.join(", ")
										p=__("Topics") + ": " + topics.join(", ")
										p=dett.settings.call.calls[a].excerpt
							input.btn.btn-primary(type="submit" value=__("NEXT >>"))
						when 1
							h2=__("Terms and conditions")
							p=dett.settings.call.calls[call.index].terms
							.checkbox
								label
									input(type="checkbox" name="accept" value=1)
									!=__("I accept this terms")
							input.btn.btn-primary(type="submit" value=__("NEXT >>"))
						when 2
							h2=__("Performance selection")
							- for(var a=0;a<user.performances.length;a++)
								- var users = []
								- for(var b=0;b<user.performances[a].users.length;b++)
									- users.push(user.performances[a].users[b].display_name)
								- var categories = []
								- for(var b=0;b<user.performances[a].categories.length;b++)
									- categories.push(user.performances[a].categories[b].name)
								.radio
									label
										input(type="radio" name="performance" value=user.performances[a]._id checked=call.performance && call.performance._id && call.performance._id==user.performances[a]._id ? "checked" : undefined)
										h3=user.performances[a].title
										p=__("Type")+": "+ categories.join(", ")
										p=__("Authors") + ": " + users.join(", ")

							input.btn.btn-primary(type="submit" value=__("NEXT >>"))
						when 3
							h2=__("Topics selection")
							- for(var b=0;b<dett.settings.call.calls[call.index].topics.length;b++)
								.checkbox
									label
										input(type="checkbox" name="topics["+b+"]" value=dett.settings.call.calls[call.index].topics[b].name checked=call.topics && call.topics.indexOf(dett.settings.call.calls[call.index].topics[b].name)!=-1 ? "checked" : undefined)
										h3=dett.settings.call.calls[call.index].topics[b].name
										p=dett.settings.call.calls[call.index].topics[b].description
							input.btn.btn-primary(type="submit" value=__("NEXT >>"))
						when 4
							h2=__("Availability")
							- var count = 0;
							- for (var b=0;b<call.performance.users.length;b++)
								- if (call.performance.users[b].members)
									- for (var c=0;c<call.performance.users[b].members.length;c++)
										.form-group
											label.col-md-3.control-label
												input.switch(name="subscriptions[" + count + "][subscriber_id]", value=call.performance.users[b].members[c]._id, onchange="$(this).parent().parent().find('.subscription').slideToggle('slide');var display_name = this.checked ? '"+call.performance.users[b].members[c].display_name+"' : '';$(this).parent().find('.display_name').val(display_name);",type="checkbox",autocomplete="off", checked=(call.subscriptions[count] && call.subscriptions[count].subscriber_id ? "checked" : undefined))
												input.display_name(name="subscriptions[" + count + "][display_name]", type="hidden")
											.col-md-9
												h3=call.performance.users[b].members[c].display_name
												.subscription(style=!call.subscriptions[count] || !call.subscriptions[count].subscriber_id ? "display: none" : undefined)
													- for (var d=0;d<dett.date_time_venue.length;d++)
														.checkbox
															label
																input(name="subscriptions[" + count + "][days][" + d + "]", value=dett.date_time_venue[d].date,    type="checkbox",checked=call.subscriptions[count] && call.subscriptions[count].days && call.subscriptions[count].days[d] == dett.date_time_venue[d].date ? "checked" : undefined)
																!=dett.date_time_venue[d].date
										- count++
								- else
									.form-group
											label.col-md-3.control-label
												input.switch(name="subscriptions[" + count + "][subscriber_id]", value=call.performance.users[b]._id, onchange="$(this).parent().parent().parent().parent().find('.subscription').slideToggle('slide');var display_name = this.checked ? '"+call.performance.users[b].members[c].display_name+"' : '';$(this).parent().find('.display_name').val(display_name);",type="checkbox",autocomplete="off",checked=call.subscriptions[count] && call.subscriptions[count].subscriber_id ? "checked" : undefined)
												input.display_name(name="subscriptions[" + count + "][display_name]", type="hidden")
									.col-md-9
												h3=call.performance.users[b].display_name
												.subscription(style=!call.subscriptions[count] || !call.subscriptions[count].subscriber_id ? "display: none" : undefined)
													- for (var c=0;c<dett.date_time_venue.length;c++)
														.checkbox
															label
																input(name="subscriptions[" + count + "][days][" + c + "]", value=dett.date_time_venue[c].date,    type="checkbox",checked=call.subscriptions[count] && call.subscriptions[count].days && call.subscriptions[count].days[c]==dett.date_time_venue[c].date ? "checked" : undefined)
																!=dett.date_time_venue[c].date
									- count++
							input.btn.btn-primary(type="submit" value=__("NEXT >>"))
						when 5
							h2=__("Packages")
							- for (var b=0;b<dett.settings.call.calls[call.index].packages.length;b++)
								- if (dett.settings.call.calls[call.index].packages[b].personal)
									- for (var c=0;c<call.subscriptions.length;c++)
										.row
											.col-md-9
												.checkbox
													label
														input(name="subscriptions[" + c + "][packages][" + b + "]", value=dett.settings.call.calls[call.index].packages[b].name,    type="checkbox",checked=(call.subscriptions[c] && call.subscriptions[c].packages && call.subscriptions[c].packages[b]==dett.settings.call.calls[call.index].packages[b].name) || dett.settings.call.calls[call.index].packages[b].requested ? "checked" : undefined, disabled=dett.settings.call.calls[call.index].packages[b].requested ? "disabled" : undefined)
														h3!="<b>"+dett.settings.call.calls[call.index].packages[b].name + "</b> " + __("for") + " " + call.subscriptions[c].display_name + (dett.settings.call.calls[call.index].packages[b].requested ? " ("+__("requested")+")" : "")
											.col-md-3
												.text-right
													h3!=(dett.settings.call.calls[call.index].packages[b].daily ? " ("+__("per day")+")" : "") + " € "+dett.settings.call.calls[call.index].packages[b].price
										!=dett.settings.call.calls[call.index].packages[b].description
										- if (dett.settings.call.calls[call.index].packages[b].allow_options)
											h3=dett.settings.call.calls[call.index].packages[b].options_name
											- var options = dett.settings.call.calls[call.index].packages[b].options.split(",")
											- for (var d=0;d<options.length;d++)
												.checkbox
													label
														input(name="subscriptions[" + c + "][packages][" + b + "][option]", value=options[d],    type="checkbox",checked=call.subscriptions[c] && call.subscriptions[c].packages && call.subscriptions[c].packages[b].option==options[d] ? "checked" : undefined)
														!=options[d]

							//.form-group
								- topics = dett.settings.call.calls[call.index].topics && dett.settings.call.calls[call.index].topics.length
								label.col-md-3.control-label
								input.switch(onchange="$(this).parent().parent().find('.topics').slideToggle('slide')",type="checkbox",autocomplete="off",checked=topics ? "checked" : undefined)
								.col-md-9
								.clearfix
								.pull-left
								h4=__("Topics")
								p=__("This call have topics")
								button.btn.btn-primary.pull-right.add_topic(type="button")=__("Add a topic")
								.topics(style=!topics ? "display: none" : undefined)
								fieldset
								.topics_container
								- for (var b=0;b<dett.settings.call.calls[call.index].topics.length;b++)
								.element
									legend=__("Topic")+" ID: "
									span.topics_count=(b+1)
									.form-group
										label.col-md-3.control-label=__("Name")
										.col-md-9
											input.form-control(name="settings[call][calls]["+a+"][topics]["+b+"][name]", value=dett.settings.call.calls[call.index].topics[b].name, type="text")
									.form-group
										label.col-md-3.control-label=__("Description")
										.col-md-9
											textarea.form-control(name="settings[call][calls]["+a+"][topics]["+b+"][description]")=dett.settings.call.calls[call.index].topics[b].description
									hr

								hr

							input.btn.btn-primary(type="submit" value=__("NEXT >>"))
					input(type="hidden" name="step" value=call.step)
