a(href="/"+result.permalink+"/")
	img.media-object(alt=__("Thumbnail of")+": "+result.display_name, src=Fnc.getFileFormat(result.files, 240, 180))
h3
	a(href="/"+result.permalink+"/")=result.display_name
.clearfix
	.pull-right
		a.btn.btn-mini
			i.glyphicon.glyphicon-globe
			!=" "+__("Messagge")
		!=" "
		a.btn.btn-primary.btn-mini
			i.glyphicon.glyphicon-globe.glyphicon.glyphicon-white
			!=" "+__("Follow")
hr
//
	.cnt
		ul.user_dett_ul
			- if (result.websites)
				- for(a=0;a<result.websites.length;a++)
					li
						a(href=result.websites[a],target="_blank")
							i.glyphicon.glyphicon-globe
							!=result.websites[a].replace("http://","").replace("https://","")
			li
				i.glyphicon.glyphicon-home
				!=Fnc.formatLoc(result.locations)
	hr
ul.nav.nav-pills.nav-stacked
	li(class=!sez ? "active" : undefined)
		a(href="/"+result.permalink+"/")
			i.glyphicon.glyphicon-globe
			!=" "+__("About")
	- for(item in result.stats)
		- if(_config.sections[item] && result.stats[item])
			li(class=sez==item ? "active" : undefined)
				a(href="/"+result.permalink+"/"+_config.sections[item].basepath+"/")
					i.glyphicon.glyphicon-globe
					!=" "+_config.sections[item].title+" ["+result.stats[item]+"]"
