.row.user_dett
	.col-md-9
		.media
			.pull-left
				img.media-object(alt=__("Thumbnail of")+": "+locals.result.display_name, src=locals.Fnc.getFileFormat(locals.result.files, 240, 180))
			.media-body
				h1.media-heading=locals.result.display_name
				.cnt
					ul.user_dett_ul
						- if (locals.result.websites)
							- for(a=0;a<locals.result.websites.length;a++)
								li
									a(href=locals.result.websites[a].url,target="_blank")
										i.glyphicon.glyphicon-globe
										!=locals.result.websites[a].url
						- if (locals.result.locations)
							li
								i.glyphicon.glyphicon-home
								!=locals.Fnc.formatLoc(locals.result.locations)
		.row
			- for(a=0;a<locals.result.length;a++)
				.col-md-3
					.row
						.col-md-1

	.col-md-3
		ul.user_dett_ul.pull-right.text-right
			li
				a.btn.btn-mini
					i.glyphicon.glyphicon-globe
					!=" "+__("Download PDF")
				!=" "
			li
				a.btn.btn-mini.btn-primary
					i.glyphicon.glyphicon-globe.glyphicon.glyphicon-white
					!=" "+__("Share")
			li
				a.btn.btn-mini.btn-primary
					i.glyphicon.glyphicon-globe.glyphicon.glyphicon-white
					!=" "+__("Invite to event")
			li
				a.btn.btn-mini
					i.glyphicon.glyphicon-globe
					!=" "+__("Messagge")
			li
				a.btn.btn-mini.btn-primary
					i.glyphicon.glyphicon-globe.glyphicon.glyphicon-white
					!=" "+__("Follow")
hr
ul.nav.nav-tabs
	li(class=!sez ? "active" : undefined)
		a(href="#about",onclick="$('#about').show();")=__("About")
	- for(item in locals.result.stats)
		- if(_config.sections[item] && locals.result.stats[item])
			li
				a(href="/"+locals.result.permalink+"/"+_config.sections[item].basepath+"/")=_config.sections[item].title+" ["+locals.result.stats[item]+"]"
