extends layout
block content
	include missing_data
	include performer_inc_author_header

	//MAIN BOXES
	.main_boxes_bkg
		.container
			.row
				- if(result.performances)
					.col-md-4.performances_performer.main_box_performer
						h2.box_performer_header.box_header
							span.title_str Performances

							span
								svg.coda(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-41.1 0 636.4 419.5', enable-background='new -41.1 0 636.4 419.5', xml:space='preserve')
									polyline(fill='#0F8FCF', points='1.6,419.5 246.3,0 396.7,0 150.9,419.5 ')
									polyline(fill='#0F8FCF', points='-41.1,419.5 -41.1,0 204.7,0 -41.1,419.5 ')
									polyline(fill='#0F8FCF', points='198.6,419.5 444.4,0 593.6,0 347.8,419.5 ')

						.col-sm-12
							.row.box_wrapper.coloured
									- for(var i=0;i<result.performances.length;i++)
										- if (i == 0)
											a.col-sm-12.main_performance_title_wrapper(href="/"+result.performances[i].users[0].permalink+"/performances/"+result.performances[i].permalink, title=result.performances[i].title)
												h3.main_performance_title= result.performances[i].title
											a.col-sm-6.col-xs-12.col-md-12.main_performace_image_wrapper(href="/"+result.performances[i].users[0].permalink+"/performances/"+result.performances[i].permalink, title=result.performances[i].title)
												img.main_performace_image(src=result.performances[i].files[0].file, alt=result.performances[i].title)
											.main_performer_box
												.col-sm-6.col-xs-12.col-md-12
														ul.list-inline
															li
																i(class="fa fa-user")
																a.performance_owner(href="/"+result.performances[i].users[0].permalink, title=result.performances[i].users[0].display_name)= result.performances[i].users[0].display_name
															li.evidence-performance_stats
																span.stat.value= result.performances[i].stats.visits
																span= __(" Visits")
															li.evidence-performance_stats
																span.stat.value= result.performances[i].stats.rates.tot_rate
																span= __(" Likes")
												.col-sm-6.col-xs-12.col-md-12
														ul.evidence-performance_categories.list-inline
															- for (category in result.performances[i].categories)
																li
																	i(class="fa fa-cube")
																	a(href="/"+result.performances[i].categories[category].permalink, title=result.performances[i].categories[category].name)= result.performances[i].categories[category].name



									.col-sm-12.secondary_performance_wrapper
										- for(var i=0;i<result.performances.length;i++)
											- if (i > 0 && i < 3)
													.secondary_performance.hidden-xs
														a(href="/"+result.performances[i].users[0].permalink+"/performances/"+result.performances[i].permalink, title=result.performances[i].title)
															.col-sm-3.secondary-performace_image
																img.img-circle(src=result.performances[i].files[0].file, alt=result.performances[i].title)
															h3.col-sm-9= result.performances[i].title

									.col-sm-12.more_performance.more_button
											a(href="/"+result.permalink+"/performances", title='More performances')
												=__("All the performances")
												span=__("+")
												span
													svg.slash_svg(version="1.1", id="Livello_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 48.4 34.3", enable-background="new 0 0 48.4 34.3", xml:space="preserve")
														polyline(fill="#0F8FCF", points="0,34.3 20,0 32.3,0 12.2,34.3 ")
														polyline(fill="#0F8FCF", points="16.1,34.3 36.2,0 48.4,0 28.3,34.3 ")

				//- Events
				- if (result.events)
					.col-md-4.events_performer.main_box_performer
						h2.box_events_header.box_header
							span.title_str Events
							span
								svg.coda(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-41.1 0 636.4 419.5', enable-background='new -41.1 0 636.4 419.5', xml:space='preserve')
									polyline(fill='#E4811E', points='1.6,419.5 246.3,0 396.7,0 150.9,419.5 ')
									polyline(fill='#E4811E', points='-41.1,419.5 -41.1,0 204.7,0 -41.1,419.5 ')
									polyline(fill='#E4811E', points='198.6,419.5 444.4,0 593.6,0 347.8,419.5 ')
						.col-sm-12
							.box_wrapper.row.coloured
									- for(var i=0;i<result.events.length;i++)
										//- Main event
										- if (i == 0)
											a.col-sm-12.main_event_title_wrapper(href="/"+result.events[i].users[0].permalink+"/events/"+result.events[i].permalink, title=result.events[i].title)
												h3.main_event_title= result.events[i].title
											a.col-sm-6.col-xs-12.col-md-12.main_performace_image_wrapper(href="/"+result.events[i].users[0].permalink+"/events/"+result.events[i].permalink, title=result.events[i].title)
												img.main_performace_image(src=result.events[i].files[0].file)
											.main_event_box
												.col-sm-6.col-xs-12.col-md-12.main_event_details

													p.event_date=result.events[i].date_str
													p
														i(class="fa fa-map-marker")
														span.event_location=result.events[i].event_loc+__(", ")
														span.event_city= result.events[i].event_city+__(", ")
														span.event_country= result.events[i].event_country
													p
														i(class="fa fa-clock-o")
														span.event_time= result.events[i].event_time
													p.evidence-event_owner
														i(class="fa fa-user")
														a(href="/"+result.events[i].users[0].permalink, title=result.events[i].users[0].display_name)= result.events[i].users[0].display_name

												.col-sm-6.col-xs-12.col-md-12
														ul.evidence-performance_categories.list-inline
															- for (category in result.events[i].categories)
																li
																	i(class="fa fa-cube")
																	a(href="/"+result.events[i].categories[category].permalink, title=result.events[i].categories[category].name)= result.events[i].categories[category].name


										//- Secondary events
										- if (i > 0 && i < 3)
											.col-sm-12.secondary_events.hidden-xs
												a(href="/"+result.events[i].users[0].permalink+"/events/"+result.events[i].permalink, title=result.events[i].title)
													.secondary_event.hidden-xs

														.col-sm-3.secondary-event_image
															img.img-circle.secondary_image(src=result.events[i].files[0].file, alt=result.events[i].title)
														.col-sm-9.secondary_event_title
															p.event_date= result.events[i].date_str
															h3= result.events[i].title

									.col-sm-12.more_events.more_button
										a(href="/"+result.permalink+"/events", title='More Events')
											=__("All the Events")
											span=__("+")
											span
												svg.slash_svg(version="1.1", id="Livello_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 48.4 34.3", enable-background="new 0 0 48.4 34.3", xml:space="preserve")
													polyline(fill="#E4811E", points="0,34.3 20,0 32.3,0 12.2,34.3 ")
													polyline(fill="#E4811E", points="16.1,34.3 36.2,0 48.4,0 28.3,34.3 ")

				//CREWS
				-if (result.crews)
					.col-md-4.crews_performer.main_box_performer
						h2.box_crews_header.box_header
							span.title_str Crews
							span
								svg.coda(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-41.1 0 636.4 419.5', enable-background='new -41.1 0 636.4 419.5', xml:space='preserve')
									polyline(fill='#004431', points='1.6,419.5 246.3,0 396.7,0 150.9,419.5 ')
									polyline(fill='#004431', points='-41.1,419.5 -41.1,0 204.7,0 -41.1,419.5 ')
									polyline(fill='#004431', points='198.6,419.5 444.4,0 593.6,0 347.8,419.5 ')


						.col-sm-12
							.box_wrapper.row.coloured
									- for(var i=0;i<result.crews.length;i++) {
										//- Main crews
										- if (i < 2)
											.main_crews-box.col-xs-6.col-sm-12
												.col-sm-3.col-md-5
													a(href="/"+result.crews[i].permalink, title=result.crews[i].display_name)
														img.img-circle(src=result.crews[i].files[0].file, alt=result.crews[i].display_name)
												.col-sm-9.col-md-7.crew_details
													ul
														li
															=result.crews[i].stats.members +__(" Members")
														li
															= result.crews[i].stats.performances +__(" Performances")
														li
															= result.crews[i].stats.events +__(" Events")
													a(href="/"+result.crews[i].permalink, title=result.crews[i].display_name)
														h3= result.crews[i].display_name
									//- Secondary crews


									- }
									ul.list-inline.secondary_crew_container
										- for(var i=0;i<result.crews.length;i++)
											- if (i > 1 && i < 7)
												li.secondary_crew
													a(href="/"+result.crews[i].permalink, title=result.crews[i].display_name)
														- if(result.crews[i].files)
															img(src=result.crews[i].files[0].file, alt=result.crews[i].display_name)

									.col-sm-12.more_crews.more_button
										a(href="/"+result.permalink+"/crews", title='More Crews')
											=__("All the Crews")
											span=__("+")
											span
													svg.slash_svg(version="1.1", id="Livello_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 48.4 34.3", enable-background="new 0 0 48.4 34.3", xml:space="preserve")
														polyline(fill="#004431", points="0,34.3 20,0 32.3,0 12.2,34.3 ")
														polyline(fill="#004431", points="16.1,34.3 36.2,0 48.4,0 28.3,34.3 ")






	// ABOUT
	.about-bkg
		.container
			- if (result.text)
				.about_performer.readmore
					h2=__("About")
					!=Fnc.getTextFormat(result.text, _config.lang, true)

	// SECONDARY BOXES
	.secondary_boxes_bkg
		.container
			.row.secondary_boxes

				// FOOTAGE BOX
				- if(result.footage)
					.col-md-6.footage_box.secondary_box
						.secondary_box_wrapper
							h2.secondary_box_header.col-sm-12 Footage
								span
									svg.slash_svg.before_title(version="1.1", id="Livello_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 48.4 34.3", enable-background="new 0 0 48.4 34.3", xml:space="preserve")
										polyline(fill="#fff", points="0,34.3 20,0 32.3,0 12.2,34.3 ")
										polyline(fill="#fff", points="16.1,34.3 36.2,0 48.4,0 28.3,34.3 ")
							.secondary_box_container
									- for(var i=0;i<result.footage.length;i++)
										- if (i > 0 && i < 5)
											.col-sm-6.single_footage
												a(href="/"+result.footage[i].permalink, title=result.footage[i].title)
													.image_box
														.footage_stats.box_stats
															ul.list-inline
																li
																	i(class="fa fa-download")
																	span= result.footage[i].stats.downloads
																li
																	i(class="fa fa-eye")
																	span= result.footage[i].stats.visits

														img(alt=result.footage[i].title, src="/img/"+result.footage[i].files)
													.title_and_info_container
														h3= result.footage[i].title
														ul.list-inline.box_other_infos
															li
																i(class="fa fa-tags")
																- for (var t=0;t<result.footage[i].tags.length;t++) {
																		span= result.footage[i].tags[t]+" "
																- }
																i(class="fa fa-floppy-o")
																span= result.footage[i].sizes

									.col-sm-12
										.more_footage.more_button.row
											a(href="/"+result.permalink+"/footage", title='More Footage')
												=__("More Footage")
												span=__("+")
												span
													svg.slash_svg.more_secondary_box(version="1.1", id="Livello_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 48.4 34.3", enable-background="new 0 0 48.4 34.3", xml:space="preserve")
														polyline(fill="#0F8FCF", points="0,34.3 20,0 32.3,0 12.2,34.3 ")
														polyline(fill="#0F8FCF", points="16.1,34.3 36.2,0 48.4,0 28.3,34.3 ")

				// PLAYLIST BOX
				- if(result.playlists)
					.col-md-6.footage_box.secondary_box
						.secondary_box_wrapper
							h2.secondary_box_header.col-sm-12.slash_after_title
								span
									svg.slash_svg.slash_after_title(version="1.1", id="Livello_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 48.4 34.3", enable-background="new 0 0 48.4 34.3", xml:space="preserve")
										polyline(fill="#fff", points="0,34.3 20,0 32.3,0 12.2,34.3 ")
										polyline(fill="#fff", points="16.1,34.3 36.2,0 48.4,0 28.3,34.3 ")
								span.title_string=__("Playlist")
							.secondary_box_container.blue_box
									- for(var i=0;i<result.playlists.length;i++)
										- if (i > 0 && i < 5)
											.col-sm-6.single_playlist
												a(href="/"+result.playlists[i].permalink, title=result.playlists[i].title)
													.image_box
														.playlists_stats.box_stats
															ul.list-inline
																li
																	i(class="fa fa-download")
																	span= result.playlists[i].stats.downloads
																li
																	i(class="fa fa-eye")
																	span= result.playlists[i].stats.visits
																li
																	i(class="fa fa-heart")
																	span= result.playlists[i].stats.likes
																li
																	i(class="fa fa-video-camera")
																	span= result.playlists[i].stats.videos

														img(alt=result.playlists[i].title, src="/img/"+result.playlists[i].files)
														.title_and_info_container
															h3= result.playlists[i].title





									.col-sm-12.more_playlists
										.more_button.row
											a(href="/"+result.permalink+"/playlists", title='More Playlists')
												=__("More Playlists")
												span=__("+")
												span
													svg.slash_svg.more_secondary_box(version="1.1", id="Livello_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 48.4 34.3", enable-background="new 0 0 48.4 34.3", xml:space="preserve")
														polyline(fill="#0F8FCF", points="0,34.3 20,0 32.3,0 12.2,34.3 ")
														polyline(fill="#0F8FCF", points="16.1,34.3 36.2,0 48.4,0 28.3,34.3 ")

			.row
				// TV SHOWS BOX
				- if(result.tvshow)
					.col-md-6.tvshows_box.secondary_box
						.secondary_box_wrapper
							h2.secondary_box_header.col-sm-12 Tv Shows
								span
									svg.slash_svg.before_title(version="1.1", id="Livello_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 48.4 34.3", enable-background="new 0 0 48.4 34.3", xml:space="preserve")
										polyline(fill="#fff", points="0,34.3 20,0 32.3,0 12.2,34.3 ")
										polyline(fill="#fff", points="16.1,34.3 36.2,0 48.4,0 28.3,34.3 ")
							.tvshow_box_container
								- for(var i=0;i<result.tvshow.length;i++)
									- if (i > 0 && i < 5)
										.col-sm-6.single_tvshow
											a(href="/"+result.tvshow[i].permalink, title=result.tvshow[i].title)
												.image_box
													.tvshow_stats.box_stats
														ul.list-inline
															li
																i(class="fa fa-download")
																span= result.tvshow[i].stats.download
															li
																i(class="fa fa-eye")
																span= result.tvshow[i].stats.visits
															li
																i(class="fa fa-heart")
																span= result.tvshow[i].stats.likes

													img(alt=result.tvshow[i].title, src="/img/"+result.tvshow[i].files)

													.title_and_info_container
														h3= result.tvshow[i].title
														ul.playlist_categories_list.list-inline
															-for (var c=0;c<result.tvshow[i].categories.length;c++)
																li
																	i(class="fa fa-cube")
																	span= result.tvshow[i].categories[c]
								.col-sm-12.more_tvshows.more_button
									a(href="/"+result.permalink+"/performances", title='More Tv Shows')
										=__("More Tv Shows")
										span=__("+")
										span
											svg.slash_svg.more_secondary_box(version="1.1", id="Livello_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 48.4 34.3", enable-background="new 0 0 48.4 34.3", xml:space="preserve")
												polyline(fill="#0F8FCF", points="0,34.3 20,0 32.3,0 12.2,34.3 ")
												polyline(fill="#0F8FCF", points="16.1,34.3 36.2,0 48.4,0 28.3,34.3 ")


				// gallery BOX
				- if(result.gallery)
					.col-md-6.gallery_box.secondary_box
						.secondary_box_wrapper
							h2.secondary_box_header.col-sm-12.slash_after_title
								span
									svg.slash_svg.slash_after_title(version="1.1", id="Livello_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 48.4 34.3", enable-background="new 0 0 48.4 34.3", xml:space="preserve")
										polyline(fill="#fff", points="0,34.3 20,0 32.3,0 12.2,34.3 ")
										polyline(fill="#fff", points="16.1,34.3 36.2,0 48.4,0 28.3,34.3 ")
								span.title_string=__("Gallery")
							.secondary_box_container
									- for(var i=0;i<result.gallery.length;i++)
										- if (i > 0 && i < 5)
											.col-sm-6.single_gallery
												a(href="/"+result.gallery[i].permalink, title=result.gallery[i].title)
													.image_box
														.gallery_stats.box_stats
															ul.list-inline
																li
																	i(class="fa fa-eye")
																	span= result.gallery[i].stats.visits
																li
																	i(class="fa fa-picture-o")
																	span= result.gallery[i].stats.img
																li
																	i(class="fa fa-video-camera")
																	span= result.gallery[i].stats.video
														img.gallery_thumb(src=result.gallery[i].files[0].file, alt=result.gallery[i].title)
													.title_and_info_container
														h3= result.gallery[i].title
														ul.gallery_details.list-inline
															li
																span.icon_at="@"
																=result.gallery[i].event
															li
																i(class="fa fa-cube")
																span= result.gallery[i].type
									.col-sm-12.more_footage.more_button
										a(href="/"+result.permalink+"/gallery", title='More gallery')
											=__("More gallery")
											span=__("+")
											span
												svg.slash_svg.more_secondary_box(version="1.1", id="Livello_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 48.4 34.3", enable-background="new 0 0 48.4 34.3", xml:space="preserve")
													polyline(fill="#0F8FCF", points="0,34.3 20,0 32.3,0 12.2,34.3 ")
													polyline(fill="#0F8FCF", points="16.1,34.3 36.2,0 48.4,0 28.3,34.3 ")

	- var rows = 1;
	- blocks = [];

	- if (blocks.length>4) rows = 2;
	- var cols = Math.round(blocks.length/2);
	- var myspan = 12/cols;
	- for(var c=0;c<rows;c++)
		.row
			- for(var b=0;b<cols;b++)
				- var sez = (blocks[b+(c*cols)] == "tvshows" ? "tvshow" : blocks[b+(c*cols)])
				- var tit = (blocks[b+(c*cols)] == "crews" || blocks[b+(c*cols)] == "members" ? "display_name" : "title")
				- if (b+(c*cols)<blocks.length)
					div(class="col-md-"+myspan)
						h3=(blocks[b+(c*cols)] == "members" ? __("Members") : (blocks[b+(c*cols)] == "crews" ? __("Crews") : _config.sections[blocks[b+(c*cols)]].title))
						.main-list.row
							- sez = sez
							- span = 12
							- for(var a=0;a<_config.usersListItems;a++)
								- if (result[sez][a])
									- var box = result[sez][a]
									- if (sez == "performances")
										include comp/box_performances
									- if (sez == "performers")
										include comp/box_performers
									- if (sez == "footage")
										include comp/box_footage
									- if (sez == "playlists")
										include comp/box_playlists
									- if (sez == "tvshows")
										include comp/box_tvshows
									- if (sez == "events")
										include comp/box_events
									- if (sez == "gallery")
										include comp/box_gallery
									- if (sez == "crews")
										include comp/box_performers
							- if (result[sez].length>_config.usersListItems)
								.pull-right
									a.btn(href="/"+result.permalink+"/"+_config.sections[blocks[b+(c*cols)]].basepath+"/")
										!=__("Show all")+" "
										i.glyphicon.glyphicon-globe