.row.user_dett
	.col-md-9
		.media
			.pull-left
				a(href="/"+result.permalink+"/")
					img.media-object(alt=__("Thumbnail of")+": "+result.display_name, src=Fnc.getFileFormat(result.files, 90, 68))
			.media-body
				h1.media-heading
					a(href="/"+result.permalink+"/")=result.display_name
	.col-md-3
		.pull-right.text-right
			a.btn.btn-mini
				i.glyphicon.glyphicon-globe
				!=" "+__("Messagge")
			!=" "
			a.btn.btn-mini.btn-primary
				i.glyphicon.glyphicon-globe.glyphicon.glyphicon-white
				!=" "+__("Follow")
br
ul.nav.nav-tabs
	li(class=!sez ? "active" : undefined)
		a(href="/"+result.permalink+"/")=__("About")
	- for(item in result.stats)
		- if(config.sections[item] && result.stats[item])
			li(class=sez==config.sections[item].basepath ? "active" : undefined)
				a(href="/"+result.permalink+"/"+config.sections[item].basepath+"/")=config.sections[item].title+" ["+result.stats[item]+"]"
