.row.user_dett
	.col-md-9
		.media
			.pull-left
				a(href="/"+locals.result.permalink+"/")
					img.media-object(alt=__("Thumbnail of")+": "+locals.result.display_name, src=locals.Fnc.getFileFormat(locals.result.files, 90, 68))
			.media-body
				h1.media-heading
					a(href="/"+locals.result.permalink+"/")=locals.result.display_name
	.col-md-3
		.pull-right.text-right
			a.btn.btn-mini
				i.glyphicon.glyphicon-globe
				!=" "+__("Messagge")
			!=" "
			a.btn.btn-mini.btn-primary
				i.glyphicon.glyphicon-globe.glyphicon.glyphicon-white
				!=" "+__("Follow")
br
ul.nav.nav-tabs
	li(class=!sez ? "active" : undefined)
		a(href="/"+locals.result.permalink+"/")=__("About")
	- for(item in locals.result.stats)
		- if(_config.sections[item] && locals.result.stats[item])
			li(class=sez==_config.sections[item].basepath ? "active" : undefined)
				a(href="/"+locals.result.permalink+"/"+_config.sections[item].basepath+"/")=_config.sections[item].title+" ["+locals.result.stats[item]+"]"
