.user_dett_bkg
	.container
		.row.user_dett.new
			.col-md-5.avatar_map
				.row
					.col-md-5.performer_avatar
						img.media-object(alt=__("Thumbnail of")+": "+result.display_name, src=Fnc.getFileFormat(result.files, 240, 180))
					.col-md-7.performer_geolocalization
						h1= result.display_name
						p= result.locations[0].city+" // "
							span.country_geoloc= result.locations[0].country
						//- City and country may link to the City/Country page with other performers
						img(src="https://maps.googleapis.com/maps/api/staticmap?center=#{result.locations[0].city},#{result.locations[0].country}&zoom=4&size=262x110&markers=#{result.locations[0].city},#{result.locations[0].country}&key=AIzaSyCCztSfUAS_r-1uyWhtAq3waEAjDk_iMQs")
						//- static url = https://maps.googleapis.com/maps/api/staticmap?center=Rome,Italy&zoom=13&size=400x200&key=AIzaSyCCztSfUAS_r-1uyWhtAq3waEAjDk_iMQs
			.col-md-2.performer_details
				.performer_details_wrapper
					ul
						li= __("Download Pdf // ")
							a(href="#")
								i(class="fa fa-download")
						li= __("Share // ")
							a(href="#")
								i(class="fa fa-share-alt")
						li= __("Invite to event // ")
							a(href="#")
								i(class="fa fa-chevron-right")
						li= __("Message // ")
							a(href="#")
								i(class="fa fa-comment")
						li= __("Follow // ")
							a(href="#")
								i(class="fa fa-user")
			.col-md-5.performer_summary
				.row
					.col-md-8.performer_summary_box
						ul


								- for(single_result in result.stats)
									- if(_config.sections[single_result] && result.stats[single_result])
									li
										a(href="/"+result.permalink+"/"+_config.sections[single_result].basepath+"/")=_config.sections[single_result].title
										=" ("+result.stats[single_result]+")"

								//a(href="/"+result.permalink+"/"+_config.sections[single_result].basepath+"/")=_config.sections[single_result].title+" ["+result.stats[single_result]+"]"
					.col-md-4.visual_header_performer_summary




//ul.nav.nav-tabs
	li(class=!sez ? "active" : undefined)
		a(href="#about",onclick="$('#about').show();")=__("About")
	- for(item in result.stats)
		- if(config.sections[item] && result.stats[item])
			li
				a(href="/"+result.permalink+"/"+config.sections[item].basepath+"/")=config.sections[item].title+" ["+result.stats[item]+"]"
