root(lng=_config.lang,autostop="false",trackID=_config.googleAnalytics,endpPath="",resizzaMode="1",resizzaModeThumb="2",txtSwfReader=_config.siteurl+"/_fp/reader.swf",downPath=_config.siteurl+"/_fp/download/?file=",embedPath=_config.siteurl+"/_fp/flxerPlayer.swf")
	item
		file=dett.files[0].file
		data
			tit=dett.title
		thumb
			!=Fnc.getFileFormat(dett.files, 400, 300)
