extends layout
block content
	- console.dir(dett)
	.user_dett
		.row
			.col-md-9
				h1=dett.title
				.media
					.pull-left
						img.media-object(alt=__("Thumbnail of")+": "+dett.title, src=Fnc.getFileFormat(dett.files, 400, 300))
					.media-body
						ul.nav.nav-list.user_dett_ul
							li.divider
							li.clearfix
								span.pull-left=__("Visits")+": "+dett.stats.visits
								span.pull-right
									button.btn.btn-primary.btn-xs
										i.glyphicon.glyphicon-globe
										!=" "+__("Like")
									!=" "
									code=dett.stats.rates.tot_rate
							li.divider
								- for(item in dett.categories)
									- console.dir(dett.categories[item])
									- if (dett.categories[item] && dett.categories[item].ancestors && dett.categories[item].ancestors[0].permalink=="type")
										li=__("Type")+": "
											a(href="/"+_config.sections[sez].basepath+"/"+dett.categories[item].permalink+"/")=dett.categories[item].name
											- for(item2 in dett.categories)
												- if (dett.categories[item2] && dett.categories[item2].ancestors && dett.categories[item].permalink!=dett.categories[item2].permalink && dett.categories[item2].ancestors[0].permalink.indexOf(dett.categories[item].permalink)!=-1 && dett.categories[item2].ancestors[0].permalink.indexOf("technique")!=-1)
													li=__("Technique")+": "
														a(href="/"+_config.sections[sez].basepath+"/"+dett.categories[item2].permalink+"/")=dett.categories[item2].name
														- for(item3 in dett.categories)
															- if (dett.categories[item3] && dett.categories[item3].ancestors && dett.categories[item].permalink!=dett.categories[item3].permalink && dett.categories[item3].ancestors[0].permalink.indexOf("genere")!=-1)
																li=__("Genre")+": "
																	a(href="/"+_config.sections[sez].basepath+"/"+dett.categories[item3].permalink+"/")=dett.categories[item3].name
							li
								button.btn
									i.glyphicon.glyphicon-globe
									!=" "+__("Download PDF")
								!=" "
							li
								button.btn.btn-primary
									i.glyphicon.glyphicon-globe.glyphicon.glyphicon-white
									!=" "+__("Share")
							li
								button.btn.btn-primary
									i.glyphicon.glyphicon-globe.glyphicon.glyphicon-white
									!=" "+__("Invite to event")
						hr
				ul.nav.nav-tabs
					li(class=sez=="performances" ? "active" : undefined)
						a(href="#about",data-toggle="tab")=__("About")
					li
						a(href="#tech_req",data-toggle="tab")=__("Technical rider")
					- if(dett.gallery && dett.gallery.length)
						li
							a(href="#gallery",data-toggle="tab")=_config.sections["gallery"].title+" ["+dett.gallery.length+"]"
					- if(dett.events && dett.events.length)
						li
							a(href="#events",data-toggle="tab")=_config.sections["events"].title+" ["+dett.events.length+"]"
				.tab-content.col-md-10
					#about.tab-pane.active
						!=Fnc.getTextFormat(dett.text, _config.lang, true)
					#tech_req.tab-pane
						!=Fnc.getTextFormat(dett.tech_req, _config.lang, true)
					- if(dett.gallery && dett.gallery.length)
						#gallery.tab-pane
							.row
								- for(item in dett.gallery)
									.col-md-3
										- var basepath = "/"
										- //+dett.gallery[item].users[0].permalink+"/"+_config.sections["gallery"].basepath
										.media
											.pull-left
												a(href=basepath+"/"+dett.gallery[item].permalink+"/")
													img.media-object(alt=__("Thumbnail of")+": "+dett.gallery[item].title, src=Fnc.getFileFormat(dett.gallery[item].files, 90, 68))
											.media-body
												h4.media-heading
													a(href=basepath+"/"+dett.gallery[item].permalink+"/")=dett.gallery[item].title
												- var str = "";
												- if (dett.gallery[item].stats)
													- for(stat in dett.gallery[item].stats)
														- str+="<li>"+__(stat)+": "+dett.gallery[item].stats[stat]+"</li>"
												- if (str)
													ul!=str
					- if(dett.events && dett.events.length)
						#events.tab-pane
							.row
								- for(item in dett.events)
									- var box = dett.events[item]
									- sez = "events"
									include comp/box_events
			.col-md-3
				h3=__("Author")
				include performer_inc_author_column