extends layout
block content
	- console.dir(dett)
	.user_dett
		.row
			.col-md-9
				h1=dett.title
				#flxerPlayer
					a(href=dett.files[0].file,onclick="swfobject.embedSWF('/fp/flxerPlayer.swf?cnt="+config.siteurl+"/"+result.permalink+"/tvshows/"+dett.permalink+"/?output=xml"+"', 'flxerPlayer', '700', '394', '9.0.0','/fp/expressInstall.swf');return false;")
						img.media-object(alt=__("Thumbnail of")+": "+dett.title, src=Fnc.getFileFormat(dett.files, 700, 394))
				br
				.row
					.col-md-8
						ul.nav.nav-tabs
							li(class=sez=="tvshows" ? "active" : undefined)
								a(href="#about",data-toggle="tab")=__("About")
							- if(dett.palinsestodate && dett.palinsestodate.length)
								li
									a(href="#palinsestodate",data-toggle="tab")=__("TV Programming")
						.tab-content.col-md-10
							#about.tab-pane.active
								!=Fnc.getTextFormat(dett.text, config.lang, true)
							- if(dett.palinsestodate && dett.palinsestodate.length)
								#palinsestodate.tab-pane
									.row
										- for(item in dett.palinsestodate)
											.col-md-3
												- var basepath = "/"
												- //+dett.palinsestodate[item].users[0].permalink+"/"+config.sections["palinsestodate"].basepath
												.media
													.pull-left
														a(href=basepath+"/"+dett.palinsestodate[item].permalink+"/")
															img.media-object(alt=__("Thumbnail of")+": "+dett.palinsestodate[item].title, src=Fnc.getFileFormat(dett.palinsestodate[item].files, 90, 68))
													.media-body
														h4.media-heading
															a(href=basepath+"/"+dett.palinsestodate[item].permalink+"/")=dett.palinsestodate[item].title
														- var str = "";
														- if (dett.palinsestodate[item].stats)
															- for(stat in dett.palinsestodate[item].stats)
																- str+="<li>"+__(stat)+": "+dett.palinsestodate[item].stats[stat]+"</li>"
														- if (str)
															ul!=str
					.col-md-4
						ul.nav.nav-list.user_dett_ul
							li.divider
							li=__("Visits")+": "+dett.stats.visits
							li.divider
								- for(item in dett.categories)
									- if (dett.categories[item] && dett.categories[item].ancestors && dett.categories[item].ancestors[0].permalink=="tv")
										li=__("Type")+": "
											a(href="/"+config.sections[sez].basepath+"/"+dett.categories[item].permalink+"/")=dett.categories[item].name
							li.divider
							li
								button.btn.btn-primary
									i.glyphicon.glyphicon-globe.glyphicon.glyphicon-white
									!=" "+__("Like")
								!=" "
								code=dett.stats.rates.tot_rate
							li
								button.btn.btn-primary
									i.glyphicon.glyphicon-globe.glyphicon.glyphicon-white
									!=" "+__("Share")
			.col-md-3
				h3=__("Author")
				include performer_inc_author_column
