root(lng=config.lang,autostop="false",trackID=config.googleAnalytics,endpPath="",resizzaMode="1",resizzaModeThumb="2",txtSwfReader=config.siteurl+"/_fp/reader.swf",downPath=config.siteurl+"/_fp/download/?file=",embedPath=config.siteurl+"/_fp/flxerPlayer.swf")
	item
		file=dett.files[0].file
		data
			tit=dett.title
		thumb
			!=Fnc.getFileFormat(dett.files, 400, 300)
