- //console.dir(locals.result)
.row.user_dett
	.span9
		.media
			.pull-left
				a(href=locals.result.permalink)
					img.media-object(alt=__("Thumbnail of")+": "+locals.result.display_name, src=locals.Fnc.getFileFormat(locals.result.files, 240, 180))
			.media-body
				h1.media-heading=locals.result.display_name
				.cnt
					ul.user_dett_ul
						- if (locals.result.websites)
							- for(a=0;a<locals.result.websites.length;a++)
								li
									a(href=locals.result.websites[a].url,target="_blank")
										i.icon-globe
										!=locals.result.websites[a].url
						li
							i.icon-home
							!=locals.Fnc.formatLoc(locals.result.locations)
		.row
			- for(a=0;a<locals.result.length;a++)
				.span3
					.row
						.span1

	.span3
		- stats = "";
		- for(item in locals.result.stats)
			- if (locals.result.stats[item] || item == "performances") stats+="<li>"+__(item)+": "+locals.result.stats[item]+"</li>"
		- if (stats)
			ul!=stats
hr
ul.nav.nav-tabs
	li(class=!sez ? "active" : undefined)
		a(href="#about",onclick="$('#about').show();")=__("About")
	- for(item in locals.result.stats)
		- if(_config.sections[item] && locals.result.stats[item])
			li
				a(href="/"+locals.result.permalink+"/"+_config.sections[item].basepath+"/")=_config.sections[item].title+" ["+locals.result.stats[item]+"]"
- if (locals.result.text)
	.page-header
		h3=__("About")
	!=locals.result.text[_config.lang]
	.more.text-right.hide(style="margin-top:10px;padding-top:10px;border-top:1px solid #EEE;")
		button.btn.btn-small=__("Read More")
	.less.text-right.hide(style="margin-top:10px;padding-top:10px;border-top:1px solid #EEE;")
		button.btn.btn-small=__("Read Less")
- var rows = 1;
- blocks = [];
- if (locals.result.performances 	&& locals.result.performances.length) 	blocks.push("performances")
- if (locals.result.events 			&& locals.result.events.length) 		blocks.push("events")
- if (locals.result.tvshow 			&& locals.result.tvshow.length) 		blocks.push("tvshows")
- if (locals.result.footage 		&& locals.result.footage.length) 		blocks.push("footage")
- if (locals.result.playlists 		&& locals.result.playlists.length) 		blocks.push("playlists")
- if (locals.result.gallery 		&& locals.result.gallery.length) 		blocks.push("gallery")
- if (locals.result.members 		&& locals.result.members.length) 		blocks.push("members")
- if (locals.result.crews 			&& locals.result.crews.length) 			blocks.push("crews")
- if (blocks.length>4) rows = 2;
- var cols = Math.round(blocks.length/2);
- var span = 12/cols;
- for(var c=0;c<rows;c++)
	.row
		- for(var b=0;b<cols;b++)
			- var sez = (blocks[b+(c*cols)] == "tvshows" ? "tvshow" : blocks[b+(c*cols)])
			- var tit = (blocks[b+(c*cols)] == "crews" || blocks[b+(c*cols)] == "members" ? "display_name" : "title")
			- if (b+(c*cols)<blocks.length)
				div(class="span"+span)
					- console.log(c+" - "+b+" - "+(b+(c*cols)))
					- console.log(blocks[b+(c*cols)])
					- console.log(locals.result[sez][0].users)
					h3=(blocks[b+(c*cols)] == "members" ? __("Members") : (blocks[b+(c*cols)] == "crews" ? __("Crews") : _config.sections[blocks[b+(c*cols)]].title))
					- for(var a=0;a<_config.usersListItems;a++)
						- if (locals.result[sez][a])
							- var basepath = (blocks[b+(c*cols)] == "crews" || blocks[b+(c*cols)] == "members" ? "" : "/"+locals.result[sez][a].users[0].permalink+"/"+_config.sections[blocks[b+(c*cols)]].basepath)
							.media
								.pull-left
									a(href=basepath+"/"+locals.result[sez][a].permalink+"/")
										img.media-object(alt=__("Thumbnail of")+": "+locals.result[sez][a][tit], src=locals.Fnc.getFileFormat(locals.result[sez][a].files, 90, 68))
								.media-body
									h4.media-heading
										a(href=basepath+"/"+locals.result[sez][a].permalink+"/")=locals.result[sez][a][tit]
									- var str = "";
									- for(item in locals.result[sez][a].stats)
										- if (locals.result[sez][a].stats[item] || item == "performances") str+="<li>"+__(item)+": "+locals.result[sez][a].stats[item]+"</li>"
									- if (str)
										ul!=str
					- if (locals.result[sez].length>_config.usersListItems)
						.pull-right=__("Show all")