- console.dir(locals.dett)
.user_dett
	.row
		.col-md-9
			h1=locals.dett.title
			.media
				.pull-left
					img.media-object(alt=__("Thumbnail of")+": "+locals.dett.title, src=locals.Fnc.getFileFormat(locals.dett.files, 400, 300))
				.media-body
					ul.nav.nav-list.user_dett_ul
						li.divider
						li.clearfix
							span.pull-left=__("Visits")+": "+locals.dett.stats.visits
							span.pull-right
								button.btn.btn-primary.btn-xs
									i.glyphicon.glyphicon-globe
									!=" "+__("Like")
								!=" "
								code=locals.dett.stats.rates.tot_rate
						li.divider
							- for(item in locals.dett.categories)
								- console.dir(locals.dett.categories[item])
								- if (locals.dett.categories[item] && locals.dett.categories[item].ancestors && locals.dett.categories[item].ancestors[0].permalink=="type")
									li=__("Type")+": "
										a(href="/"+_config.sections[locals.sez].basepath+"/"+locals.dett.categories[item].permalink+"/")=locals.dett.categories[item].name
										- for(item2 in locals.dett.categories)
											- if (locals.dett.categories[item2] && locals.dett.categories[item2].ancestors && locals.dett.categories[item].permalink!=locals.dett.categories[item2].permalink && locals.dett.categories[item2].ancestors[0].permalink.indexOf(locals.dett.categories[item].permalink)!=-1 && locals.dett.categories[item2].ancestors[0].permalink.indexOf("technique")!=-1)
												li=__("Technique")+": "
													a(href="/"+_config.sections[locals.sez].basepath+"/"+locals.dett.categories[item2].permalink+"/")=locals.dett.categories[item2].name
													- for(item3 in locals.dett.categories)
														- if (locals.dett.categories[item3] && locals.dett.categories[item3].ancestors && locals.dett.categories[item].permalink!=locals.dett.categories[item3].permalink && locals.dett.categories[item3].ancestors[0].permalink.indexOf("genere")!=-1)
															li=__("Genre")+": "
																a(href="/"+_config.sections[locals.sez].basepath+"/"+locals.dett.categories[item3].permalink+"/")=locals.dett.categories[item3].name
						li
							button.btn
								i.glyphicon.glyphicon-globe
								!=" "+__("Download PDF")
							!=" "
						li
							button.btn.btn-primary
								i.glyphicon.glyphicon-globe.glyphicon.glyphicon-white
								!=" "+__("Share")
						li
							button.btn.btn-primary
								i.glyphicon.glyphicon-globe.glyphicon.glyphicon-white
								!=" "+__("Invite to event")
					hr
			ul.nav.nav-tabs
				li(class=sez=="performances" ? "active" : undefined)
					a(href="#about",data-toggle="tab")=__("About")
				li
					a(href="#tech_req",data-toggle="tab")=__("Technical rider")
				- if(locals.dett.gallery && locals.dett.gallery.length)
					li
						a(href="#gallery",data-toggle="tab")=_config.sections["gallery"].title+" ["+locals.dett.gallery.length+"]"
				- if(locals.dett.events && locals.dett.events.length)
					li
						a(href="#events",data-toggle="tab")=_config.sections["events"].title+" ["+locals.dett.events.length+"]"
			.tab-content.col-md-10
				#about.tab-pane.active
					!=locals.Fnc.getTextFormat(locals.dett.text, _config.lang, true)
				#tech_req.tab-pane
					!=locals.Fnc.getTextFormat(locals.dett.tech_req, _config.lang, true)
				- if(locals.dett.gallery && locals.dett.gallery.length)
					#gallery.tab-pane
						.row
							- for(item in locals.dett.gallery)
								.col-md-3
									- var basepath = "/"
									- //+locals.dett.gallery[item].users[0].permalink+"/"+_config.sections["gallery"].basepath
									.media
										.pull-left
											a(href=basepath+"/"+locals.dett.gallery[item].permalink+"/")
												img.media-object(alt=__("Thumbnail of")+": "+locals.dett.gallery[item].title, src=locals.Fnc.getFileFormat(locals.dett.gallery[item].files, 90, 68))
										.media-body
											h4.media-heading
												a(href=basepath+"/"+locals.dett.gallery[item].permalink+"/")=locals.dett.gallery[item].title
											- var str = "";
											- if (locals.dett.gallery[item].stats)
												- for(stat in locals.dett.gallery[item].stats)
													- str+="<li>"+__(stat)+": "+locals.dett.gallery[item].stats[stat]+"</li>"
											- if (str)
												ul!=str
				- if(locals.dett.events && locals.dett.events.length)
					#events.tab-pane
						.row
							- for(item in locals.dett.events)
								- var box = locals.dett.events[item]
								- locals.sez = "events"
								include comp/box_events
		.col-md-3
			h3=__("Author")
			include performer_inc_author_column