extends layout
block content
	include missing_data
	include performer_inc_author_header

	//MAIN BOXES
	.main_boxes_bkg
		.container
			.row
				.col-md-4.perfomances_performer.main_box_performer
					h2.box_performer_header.box_header
						span.title_str Performances
						span
							svg.diagonale(preserveAspectRatio="none")(viewBox="0 0 1000 120")>
								polygon(style="fill:#0f8fcf;stroke:none;")(points="0,0 1000,120 0,120")
					.col-sm-12
						.box_wrapper.row
							- for(var i=0;i<result.performances.length;i++)
								- if (i == 0)
									a.col-sm-12(href="/"+result.performances[i].permalink)(title=result.performances[i].title)
										h3.main_performance_title= result.performances[i].title
									a.col-sm-12(href="/"+result.performances[i].permalink)(title=result.performances[i].title)
										img.main_performace_image(src=result.performances[i].files[0].file)(alt=result.performances[i].title)
									.main_performer_box
										.col-sm-12
												ul.list-inline
													li
														i(class="fa fa-caret-right")
														a.performance_owner(href="/"+result.performances[i].users[0].permalink)(title=result.performances[i].users[0].display_name)= result.performances[i].users[0].display_name
													li.evidence-performance_stats
														span.stat.value= result.performances[i].stats.visits
														span= __(" Visits")
													li.evidence-performance_stats
														span.stat.value= result.performances[i].stats.rates.tot_rate
														span= __(" Likes")
										.col-sm-12
												ul.evidence-performance_categories.list-inline
													- for (category in result.performances[i].categories)
														li
															i(class="fa fa-cube")
															a(href="/"+result.performances[i].categories[category].permalink)(title=result.performances[i].categories[category].name)= result.performances[i].categories[category].name



					.col-sm-12.secondary_performance_wrapper
						- for(var i=0;i<result.performances.length;i++)
							- if (i > 0 && i < 3)
									.secondary_performance
										a(href="/"+result.performances[i].permalink)(title=result.performances[i].title)
											.col-sm-3.secondary-performace_image
												img(src=result.performances[i].files[0].file)(alt=result.performances[i].title)
											h3.col-sm-9= result.performances[i].title

					.col-sm-12.more_performance.more_button
							a(href=)(title='More performances')
								=__("More performances")
								span=__("+")
								span.big_slash=__("//")
				//- Events
				.col-sm-4.events_performer.main_box_performer
					h2.box_events_header.box_header
						span.title_str Events
						span
							svg.diagonale(preserveAspectRatio="none")(viewBox="0 0 1000 120")>
								polygon(style="fill:#E4811E;stroke:none;")(points="0,0 1000,120 0,120")
					.col-sm-12
						.box_wrapper.row
							- for(var i=0;i<result.events.length;i++)
								//- Main event
								- if (i == 0)
									a.col-sm-12(href="/"+result.events[i].permalink)(title=result.events[i].title)
										h3.main_event_title= result.events[i].title
									a.col-sm-12(href="/"+result.events[i].permalink)(title=result.events[i].title)
										img.main_performace_image(src=result.events[i].files[0].file)
									.main_event_box
										.col-sm-6
											p.evidence-event_owner
												i(class="fa fa-caret-right")
												a(href="/"+result.events[i].users[0].permalink)(title=result.events[i].users[0].display_name)= result.events[i].users[0].display_name

											.event_date=result.events[i].date_str
										.col-sm-6
												ul.evidence-performance_categories
													- for (category in result.events[i].categories)
														li
															i(class="fa fa-cube")
															a(href="/"+result.events[i].categories[category].permalink)(title=result.events[i].categories[category].name)= result.events[i].categories[category].name
													li
														p
														i(class="fa fa-map-marker")
															span.event_location=result.events[i].event_loc+__(", ")
															span.event_city= result.events[i].event_city+__(", ")
															span.event_country= result.events[i].event_country

													li
														i(class="fa fa-clock-o")
															span.event_time= result.events[i].event_time
								//- Secondary events
								- if (i > 0 && i < 3)
									.col-sm-12.secondary_events
										a(href="/"+result.events[i].permalink)(title=result.events[i].title)
											.secondary_event
												p.event_date= result.events[i].date_str
												h3= result.events[i].title
												img.secondary_image(src=result.events[i].files[0].file)(alt=result.events[i].title)

						.col-sm-12.more_events.more_button
							a(href=)(title='More Events')
								=__("More Events")
								span=__("+")
								span.big_slash=__("//")

				//CREWS
				.col-sm-4.crews_performer.main_box_performer
					h2.box_crews_header.box_header
						span.title_str Crews
						span
							svg.diagonale(preserveAspectRatio="none")(viewBox="0 0 1000 120")>
								polygon(style="fill:#004431;stroke:none;")(points="0,0 1000,120 0,120")
					.col-sm-12
						.box_wrapper.row
							- for(var i=0;i<result.crews.length;i++)
								//- Main crews
								- if (i < 2)
									.main_crews-box
										.col-sm-3
											img(src=result.crews[i].files[0].file)(alt=result.crews[i].display_name)
										.col-sm-9.crew_details
											ul
												li
													=result.crews[i].stats.members +__(" Members")
												li
													= result.crews[i].stats.performances +__(" Performances")
												li
													= result.crews[i].stats.events +__(" Events")
											h3= result.crews[i].display_name
								//- Secondary crews
								- if (i > 1 && i < 6)
									li
										a(href="/"+result.crews[i].permalink)(title=result.crews[i].display_name)
											img(src=result.crews[i].files[0].file)(alt=result.crews[i].display_name)
						.col-sm-12.more_events.more_button
							a(href=)(title='More Crews')
								=__("More Crews")
								span=__("+")
								span.big_slash=__("//")






	// ABOUT
	.about-bkg
		.container
			- if (result.text)
				.about_performer
					h2=__("About")
					!=Fnc.getTextFormat(result.text, _config.lang, true)

	// SECONDARY BOXES
	.secondary_boxes_bkg
		.container
			.row.secondary_boxes

				// FOOTAGE BOX
				.col-sm-6.footage_box.secondary_box
					h2.secondary_box_header Footage
						span= __("//")
					.row.secondary_box_container
					- for(var i=0;i<result.footage.length;i++)
						//- Secondary events
						- if (i > 0 && i < 7)
							.col-sm-4
								a(href="/"+result.footage[i].permalink)(title=result.footage[i].title)
									.image_box
										.footage_stats.box_stats
											ul.list-inline
												li
													i(class="fa fa-download")
													span= result.footage[i].stats.downloads
												li
													i(class="fa fa-eye")
													span= result.footage[i].stats.visits

										img(alt=result.footage[i].title)(src="img/"+result.footage[i].files)
									h3= result.footage[i].title
									ul.list-inline.box_other_infos
										li
											i(class="fa fa-tags")
												p.row
												- for (var t=0;t<result.footage[i].tags.length;t++)
													span= result.footage[i].tags[t]+" "
										li
											i(class="fa fa-floppy-o")
											span= result.footage[i].sizes

					.col-sm-12.more_footage.more_button
						a(href=)(title='More Footage')
							=__("More Footage")
							span=__("+")
							span.big_slash=__("//")

				// PLAYLIST BOX
				.col-sm-6.footage_box.secondary_box
					h2.secondary_box_header
						span= __("//")
						=__("Playlist")
					.row.secondary_box_container.blue_box

						- for(var i=0;i<result.playlists.length;i++)
							- if (i > 0 && i < 5)
								.col-sm-6
									a(href="/"+result.playlists[i].permalink)(title=result.playlists[i].title)
										.image_box
											.playlists_stats.box_stats
												ul.list-inline
													li
														i(class="fa fa-download")
														span= result.playlists[i].stats.downloads
													li
														i(class="fa fa-eye")
														span= result.playlists[i].stats.visits
													li
														i(class="fa fa-heart")
														span= result.playlists[i].stats.likes
													li
														i(class="fa fa-video-camera")
														span= result.playlists[i].stats.videos

											img(alt=result.playlists[i].title)(src=result.playlists[i].files)
											.title_and_info_container
												h3= result.playlists[i].title





						.col-sm-12.more_playlists.more_button
							a(href=)(title='More Playlists')
								=__("More Playlists")
								span=__("+")
								span.big_slash=__("//")


			.row
				// TV SHOWS BOX
				.col-sm-6.tvshows_box.secondary_box
					h2.secondary_box_header TV Shows
						span= __("//")
					.row.tvshow_box_container
					- for(var i=0;i<result.tvshow.length;i++)
						- if (i > 0 && i < 5)
							.col-sm-6
								a(href="/"+result.tvshow[i].permalink)(title=result.tvshow[i].title)
									.image_box
										.tvshow_stats.box_stats
											ul.list-inline
												li
													i(class="fa fa-download")
													span= result.tvshow[i].stats.download
												li
													i(class="fa fa-eye")
													span= result.tvshow[i].stats.visits
												li
													i(class="fa fa-heart")
													span= result.tvshow[i].stats.likes

										img(alt=result.tvshow[i].title)(src=result.tvshow[i].files)

										.title_and_info_container
											h3= result.tvshow[i].title
											ul.playlist_categories_list.list-inline
												-for (var c=0;c<result.tvshow[i].categories.length;c++)
													li
														i(class="fa fa-cube")
														span= result.tvshow[i].categories[c]
					.col-sm-12.more_tvshows.more_button
						a(href=)(title='More Tv Shows')
							=__("More Tv Shows")
							span=__("+")
							span.big_slash=__("//")
				// gallery BOX
				.col-sm-6.footage_box.secondary_box
					h2.secondary_box_header Gallery
						span= __("//")
					.row.secondary_box_container
						- for(var i=0;i<result.gallery.length;i++)
							- if (i > 0 && i < 5)
								.col-sm-6
									a(href="/"+result.gallery[i].permalink)(title=result.gallery[i].title)
										.image_box
											.gallery_stats.box_stats
												ul.list-inline
													li
														i(class="fa fa-eye")
														span= result.gallery[i].stats.visits
													li
														i(class="fa fa-picture-o")
														span= result.gallery[i].stats.img
													li
														i(class="fa fa-video-camera")
														span= result.gallery[i].stats.video
											img(src=result.gallery[i].files[0].file)(alt=result.gallery[i].title)
										h3= result.gallery[i].title
										ul
											li
												span= result.gallery[i].event
											li
												span= result.gallery[i].type
						.col-sm-12.more_footage.more_button
							a(href=)(title='More gallery')
								=__("More gallery")
								span=__("+")
								span.big_slash=__("//")

	- var rows = 1;
	- blocks = [];

	- if (blocks.length>4) rows = 2;
	- var cols = Math.round(blocks.length/2);
	- var myspan = 12/cols;
	- for(var c=0;c<rows;c++)
		.row
			- for(var b=0;b<cols;b++)
				- var sez = (blocks[b+(c*cols)] == "tvshows" ? "tvshow" : blocks[b+(c*cols)])
				- var tit = (blocks[b+(c*cols)] == "crews" || blocks[b+(c*cols)] == "members" ? "display_name" : "title")
				- if (b+(c*cols)<blocks.length)
					div(class="col-md-"+myspan)
						h3=(blocks[b+(c*cols)] == "members" ? __("Members") : (blocks[b+(c*cols)] == "crews" ? __("Crews") : _config.sections[blocks[b+(c*cols)]].title))
						.main-list.row
							- sez = sez
							- span = 12
							- for(var a=0;a<_config.usersListItems;a++)
								- if (result[sez][a])
									- var box = result[sez][a]
									- if (sez == "performances")
										include comp/box_performances
									- if (sez == "performers")
										include comp/box_performers
									- if (sez == "footage")
										include comp/box_footage
									- if (sez == "playlists")
										include comp/box_playlists
									- if (sez == "tvshows")
										include comp/box_tvshows
									- if (sez == "events")
										include comp/box_events
									- if (sez == "gallery")
										include comp/box_gallery
									- if (sez == "crews")
										include comp/box_performers
							- if (result[sez].length>_config.usersListItems)
								.pull-right
									a.btn(href="/"+result.permalink+"/"+_config.sections[blocks[b+(c*cols)]].basepath+"/")
										!=__("Show all")+" "
										i.glyphicon.glyphicon-globe