- //console.dir(locals.dett)
.user_dett
	.row
		.span4
			img.media-object(alt=__("Thumbnail of")+": "+locals.dett.title, src=locals.Fnc.getFileFormat(locals.dett.files, 400, 300))
			br
			ul.nav.nav-list
				- if (locals.dett.websites)
					- for(a=0;a<locals.dett.websites.length;a++)
						li
							a(href=locals.dett.websites[a].url,target="_blank")
								i.icon-globe
								!=locals.dett.websites[a].url
		.span8
			h1=locals.dett.title
			h3=locals.dett.subtitle[_config.lang]
			.row
				.span5
					ul.nav.nav-list.user_dett_ul
						- if (locals.dett.date_time_venue)
							- for(a=0;a<locals.dett.date_time_venue.length;a++)
								li.divider
								li
									i.icon-time
									!=locals.Fnc.getEventDate(locals.dett.date_time_venue[a].date)+" | "+locals.dett.date_time_venue[a].start_time+" / "+locals.dett.date_time_venue[a].end_time+"<br />"
								li
									i.icon-home
									!=locals.dett.date_time_venue[a].venue+" | "+locals.dett.date_time_venue[a].city+", "+locals.dett.date_time_venue[a].country
				.span3
					ul.nav.nav-list.user_dett_ul
						li.divider
						li.clearfix
							span.pull-left=__("Visits")+": "+locals.dett.stats.visits
							span.pull-right
								button.btn.btn-primary.btn-mini
									i.icon-globe.icon-white
									!=" "+__("Like")
								!=" "
								code=locals.dett.stats.rates.tot_rate
						li.divider
						li=__("Author")+": "
							a(href="/"+locals.result.permalink+"/")=locals.result.display_name
						li.divider
						- for(item in locals.dett.categories)
							- if (locals.dett.categories[item] && locals.dett.categories[item].ancestors && locals.dett.categories[item].ancestors[0].permalink=="lv-projects-categories")
								li
									!=__("Type")+": "
									a(href="/"+_config.sections[locals.sez].basepath+"/"+locals.dett.categories[item].permalink+"/")=locals.dett.categories[item].name
hr
ul.nav.nav-tabs
	li(class=sez=="events" ? "active" : undefined)
		a(href="#about",data-toggle="tab")=__("About")
	- if(locals.dett.performances)
		li
			a(href="#performances",data-toggle="tab")=_config.sections["performances"].title+" ["+locals.dett.performances.length+"]"
	- if(locals.dett.partners)
		li
			a(href="#partners",data-toggle="tab")=__("Partners")+" ["+locals.dett.partners.length+"]"
	- if(locals.dett.gallery)
		li
			a(href="#gallery",data-toggle="tab")=_config.sections["gallery"].title+" ["+locals.dett.gallery.length+"]"
.tab-content
	- if (locals.dett.text)
		#about.tab-pane.active
			!=locals.Fnc.getTextFormat(locals.dett.text, _config.lang, true)
	- if (locals.dett.performances)
		#performances.tab-pane
			- tree = {};
			- for(item in locals.dett.performances) {
			-	if (locals.dett.performances[item].event_data.day) {
			-		if (!tree[locals.dett.performances[item].event_data.day]) tree[locals.dett.performances[item].event_data.day] = {};
			-		if (locals.dett.performances[item].event_data.room) tree[locals.dett.performances[item].event_data.day][locals.dett.performances[item].event_data.room] = 1;
			-	} else {
			-		tree["To be sheduled"] = {};
			-	}
			- }
			- for(day in tree) {
			- 	var dayPerf = locals.dett.performances.filter( function (value, index, self) {
			-		return value.event_data.day==day
			- 	});
				.page-header
					h3=day
				.row
					- for(room in tree[day]) {
					- 	var dayRoomPerf = dayPerf.filter( function (value, index, self) {
					-		return value.event_data.room==room
					- 	});
						.span3
							.page-header
								h3=room
							.row.main-list
								- for(item in dayRoomPerf)
									- var box = dayRoomPerf[item]
									include comp/box_performances
					- }
			- }
	- if (locals.dett.partners)
		#partners.tab-pane
			- tree = {};
			- for(item in locals.dett.partners) {
			-	if (locals.dett.partners[item].partner_type) {
			-		if (!tree[locals.dett.partners[item].partner_type]) tree[locals.dett.partners[item].partner_type] = 1;
			-	} else {
			-		tree["To be sheduled"] = {};
			-	}
			- }
			.row
				- for(partner_type in tree) {
				- 	var partnersType = locals.dett.partners.filter( function (value, index, self) {
				-		return value.partner_type==partner_type
				- 	});
				.span3
					.page-header
						h3=partner_type
					.row.main-list
						- for(partner in partnersType)
							- var box = partnersType[partner]
							include comp/box_performers
				- }
	- if (locals.dett.gallery)
		#gallery.tab-pane
			.row.main-list
				- for(item in locals.dett.gallery)
					- var box = locals.dett.gallery[item]
					include comp/box_gallery
