include comp/submenu_sez
include comp/functions

.row
	.span9
		h1=_config.sections[locals.sez].title+" "
			small=__("From")+" "+locals.skip+" "+__("to")+" "+(locals.skip+_config.sections[locals.sez].limit)+" "+__("on")+" "+locals.tot+" "+_config.sections[locals.sez].title
		.row
			- for(a=0;a<locals.result.length;a++)
				.span3
					.row
						.span1

					.media
						.pull-left
							a(href=locals.result[a].permalink)
								- if (locals.result[a].files && locals.result[a].files.length)
									img.media-object(alt="FLxER.NET", src=getFileFormat(locals.result[a].files[0].preview,'90x68'))
						.media-body
							h4.media-heading
								a(href="/"+locals.result[a].permalink+"/")=locals.result[a].title
							- stats = "";
							- console.dir(locals.result[a].stats)
							- for(item in locals.result[a].stats)
								- if (locals.result[a].stats[item] || item == "performances") stats+="<li>"+__(item)+": "+locals.result[a].stats[item]+"</li>"
							- if (stats)
								ul!=stats
		include comp/paginator
	.span3 Bella
