- if (typeof(username) === 'undefined' && typeof(span) === 'undefined') span = "3"
div.list_item_performer.grid-item.col-sm-4(class="col-md-" + span + " "+sez+"_performer")
	a(href="/"+(typeof(boxpath) === 'undefined' ? box.users[0].permalink : boxpath)+"/"+config.sections[sez].basepath+"/"+box.permalink+"/")(title=box.title)
		.image_box
			.footage_stats.box_stats
				ul.list-inline
					li
						i(class="fa fa-download")
						span= box.stats.downloads
					li
						i(class="fa fa-eye")
						span= box.stats.visits

			img(alt=box.title)(src="/img/"+box.files)
		h3= box.title
		ul.list-inline.box_other_infos
			li
				i(class="fa fa-tags")
				- for (var t=0;t<box.tags.length;t++) {
						span= box.tags[t]+" "
				- }
				i(class="fa fa-floppy-o")
				span= box.sizes

//-		
		a.main_event_title_wrapper(href="/" + box.permalink)(title=box.title)
			h3.main_event_title= box.title
		a.main_performace_image_wrapper(href="/" + box.permalink)(title=box.title)
			img.main_performace_image(src=box.files ? box.files[0].file : '')
		.main_event_box
			.main_event_details
				ul
					li
						=box.stats.members +__(" Members")
					li
						= box.stats.performances +__(" Performances")
					li
						= box.stats.events +__(" Events")