- if (typeof(username) === 'undefined' && typeof(span) === 'undefined') span = "3"
div.list_item_performer.grid-item.col-sm-4(class="col-md-" + span + " "+sez+"_performer")
	a(href="/"+box.permalink)(title=box.title)
		.image_box
			.gallery_stats.box_stats
				ul.list-inline
					li
						i(class="fa fa-eye")
						span= box.stats.visits
					li
						i(class="fa fa-picture-o")
						span= box.stats.img
					li
						i(class="fa fa-video-camera")
						span= box.stats.video
			- if(box.files)
				.gallery_thumb_container
					img.gallery_thumb(src=box.files[0].file)(alt=box.title)
		.title_and_info_container
			h3= box.title
			ul.gallery_details.list-inline
				li
					span.icon_at="@"
					=box.event
				li
					i(class="fa fa-cube")
					span= box.type
//-
	- if (typeof(username) === 'undefined' && typeof(span) === 'undefined') span = "3"
	div(class="col-md-"+span)
		.media
			.pull-left
				a(href="/"+(typeof(boxpath) === 'undefined' ? box.users[0].permalink : boxpath)+"/"+config.sections[sez].basepath+"/"+box.permalink+"/")
					img.media-object(alt=__("Thumbnail of")+": "+box.title, src=Fnc.getFileFormat(box.files, 90, 68))
			.media-body
				h4.media-heading
					a(href="/"+(typeof(boxpath) === 'undefined' ? box.users[0].permalink : boxpath)+"/"+config.sections[sez].basepath+"/"+box.permalink+"/")=box.title
				ul.stats
					li=__("Visits")+": "+box.stats.visits
				ul.stats
					- for(item in box.stats)
						- if (item!="visits")
							li=__(item)+": "+box.stats[item]
