- if (typeof(username) === 'undefined' && typeof(span) === 'undefined') span = "6"
	div.list_item_performer.grid-item.col-sm-4(class="col-md-" + span + " "+sez+"_performer")
		.box_wrapper.col-sm-12
			a(href="/"+(typeof(boxpath) === 'undefined' ? box.users[0].permalink : boxpath)+"/"+config.sections[sez].basepath+"/"+box.permalink+"/", title=box.title)
				h3.main_event_title= box.title
			a(href="/"+(typeof(boxpath) === 'undefined' ? box.users[0].permalink : boxpath)+"/"+config.sections[sez].basepath+"/"+box.permalink+"/", title=box.title)
				img.main_performace_image(src=box.files ? box.files[0].file : '')
			.main_event_box
				.main_event_details
					ul.list-inline
						li
							i(class="fa fa-user")
							a.performance_owner(href="/"+box.users[0].permalink, title=box.users[0].display_name)= box.users[0].display_name
					ul.list-inline
						li.evidence-performance_stats
							span.stat.value= box.stats.visits
							span= __(" Visits")
						li.evidence-performance_stats
							span.stat.value= box.stats.rates.tot_rate
							span= __(" Likes")

					ul.evidence-performance_categories.list-inline
						- for (categoria in box.categories)
							li
								i(class="fa fa-cube")
								a(href="/" + box.categories[categoria].permalink, title=box.categories[categoria].name)= box.categories[categoria].name
