ul.nav.nav-pills
	li(class=(locals.subsez=="public" ? "active" : undefined))
		a(href="/controlpanel/user/")=__("Public data")
	li(class=(locals.subsez=="mainimage" ? "active" : undefined))
		a(href="/controlpanel/user/mainimage/")=__("Main image")
	li(class=(locals.subsez=="password" ? "active" : undefined))
		a(href="/controlpanel/user/password/")=__("Change password")
	li(class=(locals.subsez=="emails" ? "active" : undefined))
		a(href="/controlpanel/user/emails/")=__("Emails")
	li(class=(locals.subsez=="private" ? "active" : undefined))
		a(href="/controlpanel/user/private/")=__("Private data")
	li(class=(locals.subsez=="connections" ? "active" : undefined))
		a(href="/controlpanel/user/connections/")=__("Connections")
