	//- console.dir("subsez "+subsez)
ul.nav.nav-pills
	li(class=(subsez=="public" ? "active" : undefined))
		a(href="/controlpanel/events/"+result.permalink+"/")=__("Main info")
	li(class=(subsez=="mainimage" ? "active" : undefined))
		a(href="/controlpanel/events/"+result.permalink+"/mainimage/")=__("Main image")
	li(class=(subsez=="partners" ? "active" : undefined))
		a(href="/controlpanel/events/"+result.permalink+"/partners/")=__("Partners")
	li(class=(subsez=="performances" ? "active" : undefined))
		a(href="/controlpanel/events/"+result.permalink+"/performances/")=__("Performances")
	li(class=(subsez=="gallery" ? "active" : undefined))
		a(href="/controlpanel/events/"+result.permalink+"/gallery/")=__("Gallery")
	li(class=(subsez=="settings" ? "active" : undefined))
		a(href="/controlpanel/events/"+result.permalink+"/settings/")=__("Settings")
br