ul.nav.nav-pills
	li(class=(subsez=="public" ? "active" : undefined))
		a(href="/controlpanel/user/")=__("Public data")
	li(class=(subsez=="mainimage" ? "active" : undefined))
		a(href="/controlpanel/user/mainimage/")=__("Main image")
	li(class=(subsez=="password" ? "active" : undefined))
		a(href="/controlpanel/user/password/")=__("Change password")
	li(class=(subsez=="emails" ? "active" : undefined))
		a(href="/controlpanel/user/emails/")=__("Emails")
	li(class=(subsez=="private" ? "active" : undefined))
		a(href="/controlpanel/user/private/")=__("Private data")
	li(class=(subsez=="connections" ? "active" : undefined))
		a(href="/controlpanel/user/connections/")=__("Connections")
br
