ul.nav.nav-pills
	li(class=(locals.subsez=="maindata" ? "active" : undefined))
		a(href="/controlpanel/events/"+locals.result.permalink+"/")=__("Main info")
	li(class=(locals.subsez=="mainimage" ? "active" : undefined))
		a(href="/controlpanel/events/"+locals.result.permalink+"/mainimage/")=__("Main image")
	li(class=(locals.subsez=="partners" ? "active" : undefined))
		a(href="/controlpanel/events/"+locals.result.permalink+"/partners/")=__("Partners")
	li(class=(locals.subsez=="performances" ? "active" : undefined))
		a(href="/controlpanel/events/"+locals.result.permalink+"/performances/")=__("Performances")
	li(class=(locals.subsez=="gallery" ? "active" : undefined))
		a(href="/controlpanel/events/"+locals.result.permalink+"/gallery/")=__("Gallery")
	li(class=(locals.subsez=="settings" ? "active" : undefined))
		a(href="/controlpanel/events/"+locals.result.permalink+"/settings/")=__("Settings")
