a.user_manager_button#simple-menu(href='#sidr')
	i.fa.fa-cog
#sidr(style="display: none;")
	nav.navbar.navbar-inverse#menu_user_interaction


							button.navbar-toggle.pull-right(type='button', data-target='#navbarCollapse_user_interaction', data-toggle='collapse')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							//- Collection of nav links and other content for toggling
							#navbarCollapse_user_interaction.collapse.navbar-collapse
								ul
									li
											a(href="/controlpanel/"+(user && user.login ? "user/" : "login/"))!=(user && user.login ? '<i class="fa fa-cog"></i> '+user.display_name : __("Login"))
										- if(!user)
											li
												a(href="/controlpanel/signup/")=__("Registrati")
										- else
											li
												a(href="/controlpanel/logout/")=__("Logout")
											- if (typeof notifiche !== "undefined")
												li(style="position:relative")
													a(href="/"+user.login+"/notifications/", title=__("Visualizza le notifiche"))=__("Notifiche")
														span.jewelCount=(typeof(notifiche) !== "undefined" && notifiche ? notifiche : 0)

											li
												a(href="/controlpanel/?edit=performances&amp;perfid=0")=__("Nuova performance")
											li
												a(href="/controlpanel/?edit=footage&amp;footageid=0")=__("Nuovo post")
											li
												a(href="/controlpanel/?edit=events&amp;eventid=0")=__("Nuovo evento")
											li
												a(href="/controlpanel/?edit=tvshows&amp;tvshowid=0")=__("Nuovo TV Show")
											li
												a(href="/controlpanel/?edit=postiflxer&amp;postiflxerid=0")=__("Nuovo iFLxER file")
											li
												a(href="/controlpanel/?edit=forum&amp;forumid=0")=__("Nuova discussione")

