.form-group
	.col-md-2.control-label
		b=__("Subtitle")
	.col-sm-10
.form-group
	.col-md-2.control-label.small!=config.locales_labels[config.defaultLocale]
	.col-sm-10
		input.form-control(name="subtitle["+config.defaultLocale+"]",class=config.defaultLocale, type="text",value=result.subtitle[config.defaultLocale])
each val, key in config.locales_labels
	- if (config.defaultLocale!=key)
		.form-group
			.col-md-2.control-label.small!=val
			.col-sm-10
				input.form-control(name="text["+key+"]",class=key, type="text", value=result.subtitle[key],placeholder=__("Subtitle"))
