extends ../layout_user_two_columns

block user-content
	h2=result.title

	ul
		li
			h3="page title: "
			=title
		li
			h3="title: "
			p=result.title
		li
			h3="stats: FIX"
		li
			h3="performances"
			- for(var a=0; a<result.performances.length; a++)
				ol
					li
						span.alert-danger="titolo: " + result.performances[a].title
					li
						="permalink: " + result.performances[a].permalink
		li
			h3="users"
			- for(var a=0; a<result.users.length; a++)
				li
					="permalin: " + result.users[a].permalink

	.pre
		//!=result
//-console.log(JSON.stringify(result, null, 20));
