extends ../layout_user_two_columns

block user-content
	h2=result.title
	p="Gallery"

	ul
		li
			h3="page title: "
			=title
		li
			h3="title: "
			p=result.title
		li
			h3="stats:

		li
			h3="performances"
			- for(var a=0; a<result.performances.length; a++)
				ol
					li
						span.alert-danger="titolo: " + result.performances[a].title
					li
						="permalink: " + result.performances[a].permalink
		li
			h3="users"
			- for(var a=0; a<result.users.length; a++)
				ol
					li
						="permalink: " + result.users[a].permalink
					li
						="name: " + result.users[a].display_name
		li
			h3="events: "
			- for(var a=0; a<result.events.length; a++)
				ol
					li
						="permalink: " + result.events[a].permalink
					li
						span.alert-danger="title: " + result.events[a].titolo
		li
			h3="footage: "
			p="Footages: " + result.footage.length


			- for(var a=0; a<result.footage.length; a++)
				ul
					li.alert-danger="title: " + result.footage[a].titolo
					li="permalink: " + result.footage[a].permalink
					li="preview file: " + result.footage[a].preview_file
					li.alert-danger="weitgh: " + result.footage[a].peso
					li.alert-danger="type: " + result.footage[a].type
					li.alert-danger="file name: " + result.footage[a].name

	.pre
		//!=result
//-console.log(JSON.stringify(result, null, 20));
