extends ../layout_user_two_columns

block user-content
  h2=result.title
  p="TV show"
  - var fff = result.file && result.file.file ? result.file.file : result.footage.length&& result.footage[0].file && result.footage[0].file.file ? result.footage[0].file.file : false
  img.img-responsive(alt=__("Thumbnail of") + ": " + result.title, src=_h.media.getFileFormat(result.file, section, "detail"))
  ul.list-inline
    - if(result.users.length)
    li
      - for(var a=0; a<result.users.length; a++)
        i(class="fa fa-user")
        a(href="#{result.users[a].permalink}", title="#{result.users[a].display_name}")
          = result.users[a].display_name
    - if(result.stats.visits)
    li
      i(class="fa fa-eye")
      span= result.stats.visits

    - if(result.stats.likes)
      li
        i(class="fa fa-eye")
        span= result.stats.likes
    - if (result.categories)
      - for(var a=0; a<result.categories.length; a++)
        li
          i(class="fa fa-cube")
          a(href="#{result.categories[a].permalink}", title="#{result.categories[a].name}")
            = result.categories[a].name
  p=result.text.en

  h3="programming: "
  ul.list-inline
    - for(var a=0; a<result.programming.length; a++)
      li!=_h.date.writeDate(result.programming[a])

    //-console.log(JSON.stringify(result, null, 20));
