ul.nav.nav-pills
	li
		a(href="/controlpanel/events/#{result.permalink}/public")=__("public data")
	li
		a(href="/controlpanel/events/#{result.permalink}/image")=__("image")
	li
		a(href="/controlpanel/events/#{result.permalink}/visibility")=__("visibility")
	li
		a(href="/controlpanel/events/#{result.permalink}/permissions")=__("permissions")
	li
		a(href="/controlpanel/events/#{result.permalink}/call")=__("call")
