extends ../layout

block variables
	- var chapter='events'

block inner-content
	include ./menu
	+render-alerts(alerts)
	form.form-horizontal(method="post")
		fieldset
			legend=__("General")
			.form-group
				label.col-sm-2.control-label=__("Event name")
				.col-sm-10
					input(name="title", value=result.title, type="text", placeholder=__("Event name")).form-control
			.form-group
				label.col-sm-2.control-label(for="permalink")=__("Event url")
				.col-sm-10
					.input-group
						span.input-group-addon=config.baseurl + result.users[0].permalink + "/events/"
						input.form-control(autocomplete="off", type="text", value=result.permalink, name="permalink", placeholder=__("Profile url"), required, pattern="[a-zA-z0-9]+")
			+multilanguage-text(result.text)
			+websites(result.websites)

		+venues(result.date_time_venue)
		+save-button
