extends ../layout

block variables
	- var activeChapter='events'
	- var activeSection='visibility'

block inner-content
	include ../menu
	+render-alerts(alerts)
	form.form-horizontal(method="post")
		input(name="_id", value=result._id, type="hidden")
		fieldset
			legend=__("Visibility")

			.form-group
				label.col-md-2.control-label
					input.switch(value="true", name="settings[is_public]", type="checkbox", checked=result.settings.is_public)
				.col-md-10
					h4=__("Public")
					p=__("The event is published")

			.form-group
				label.col-md-2.control-label
					input.switch(value="true", name="settings[gallery_is_public]", type="checkbox", checked=result.settings.gallery_is_public)
				.col-md-10
					h4=__("Public Gallery")
					p=__("All the AV node users can upload gallery")

		+save-button

	//- FIXME no inline scripts for generic functionality
	script.
		$(document).ready(function() {
			$("input.switch").bootstrapSwitch({
				onSwitchChange: function(ev, state, el) {
					$(ev.currentTarget).prop('checked', state);
				}
			});
		});
