// app/server/views/user/summary.jade
.user_dett_bkg
  .container
    .row.user_dett.new
      .col-lg-5.col-md-5.col-sm-6.col-xs-6.avatar_map
        .row
          .col-lg-5.col-md-4.col-sm-4.col-xs-6.performer_avatar
            img.media-object(alt=__("Thumbnail of")+": "+performer.display_name, src=_h.media.getFileFormat(performer.file && performer.file.file, config.sections["performers"].thumbnails.detail))
          .col-lg-7.col-sm-8.col-xs-6.performer_geolocalization
            a(href="/"+performer.permalink, title=performer.display_name)
              h1= performer.display_name
            each location, i in performer.locations
              if i === 0
                p=location.city + " // "
                  span.country_geoloc= location.country
                img.performer_map(src="https://maps.googleapis.com/maps/api/staticmap?center=#{location.city},#{location.country}&zoom=4&size=262x110&markers=#{location.city},#{location.country}&key=AIzaSyCCztSfUAS_r-1uyWhtAq3waEAjDk_iMQs")
                //- static url = https://maps.googleapis.com/maps/api/staticmap?center=Rome,Italy&zoom=13&size=400x200&key=AIzaSyCCztSfUAS_r-1uyWhtAq3waEAjDk_iMQs
      .col-lg-2.col-md-3.col-sm-3.col-xs-3.performer_details
        .performer_details_wrapper
          ul
            li= __("Download Pdf // ")
              a(href="#")
                i(class="fa fa-download")
            li= __("Share // ")
              a(href="#")
                i(class="fa fa-share-alt")
            li= __("Invite to event // ")
              a(href="#")
                i(class="fa fa-chevron-right")
            li= __("Message // ")
              a(href="#")
                i(class="fa fa-comment")
            li= __("Follow // ")
              a(href="#")
                i(class="fa fa-user")
      .col-lg-5.col-md-4.col-sm-3.col-xs-3
        .performer_summary
          .row
            .col-md-8.performer_summary_box
              ul
                - if (performer.stats.members)
                  li
                    a(href="/#{performer.permalink}/members/")=__("members") + ' (' + performer.stats.members + ')'

                - if (performer.stats.performances)
                  li
                    a(href="/#{performer.permalink}/performances/")=__("Performances") + ' (' + performer.stats.performances + ')'
                - if (performer.stats.crews)
                  li
                    a(href="/#{performer.permalink}/crews/")=__("Crews") + ' (' + performer.stats.crews + ')'
                - if (performer.stats.footage)
                  li
                    a(href="/#{performer.permalink}/footage/")=__("Footage") + ' (' + performer.stats.footage + ')'
                - if (performer.stats.tvshows)
                  li
                    a(href="/#{performer.permalink}/tvshows/")=__("TVShows") + ' (' + performer.stats.tvshows + ')'
                - if (performer.stats.playlists)
                  li
                    a(href="/#{performer.permalink}/playlists/")=__("Playlists") + ' (' + performer.stats.playlists + ')'
                - if (performer.stats.events)
                  li
                    a(href="/#{performer.permalink}/events/")=__("Events") + ' (' + performer.stats.events + ')'
                - if (performer.stats.galleries)
                  li
                    a(href="/#{performer.permalink}/galleries/")=__("Galleries") + ' (' + performer.stats.galleries + ')'
                - if (performer.stats.friends)
                  li
                    a(href="/#{performer.permalink}/friends/")=__("Friends") + ' (' + performer.stats.friends + ')'
