//
   Created by gianlucabernardo on 24/06/16.

// app/server/views/user/summary.jade
.user_dett_bkg
    .row.user_dett.new
        .col-xs-12.avatar_map
            .row
                .col-xs-12
                    img.media-object(alt=__("Thumbnail of") + ": " + performer.display_name, src=_h.media.getFileFormat(performer.files[0].file, config.sections["performers"].thumbnails.detail))
                .col-xs-12.performer_geolocalization
                    a(href="/" + performer.permalink, title=performer.display_name)
                        h1= performer.display_name
                    each location, i in performer.locations
                        if i === 0
                            .col-xs-12
                                p=location.city + " // "
                                span.country_geoloc= location.country
                            .col-xs-12
                                img.performer_map(src="https://maps.googleapis.com/maps/api/staticmap?center=#{location.city},#{location.country}&zoom=4&size=262x110&markers=#{location.city},#{location.country}&key=AIzaSyCCztSfUAS_r-1uyWhtAq3waEAjDk_iMQs")
                                //- static url = https://maps.googleapis.com/maps/api/staticmap?center=Rome,Italy&zoom=13&size=400x200&key=AIzaSyCCztSfUAS_r-1uyWhtAq3waEAjDk_iMQs
        .col-xs-12.performer_details
            .foo
                ul
                    li= __("Download Pdf // ")
                    a(href="#")
                        i(class="fa fa-download")
                    li= __("Share // ")
                    a(href="#")
                        i(class="fa fa-share-alt")
                    li= __("Invite to event // ")
                    a(href="#")
                        i(class="fa fa-chevron-right")
                    li= __("Message // ")
                    a(href="#")
                        i(class="fa fa-comment")
                    li= __("Follow // ")
                    a(href="#")
                        i(class="fa fa-user")
        .col-xs-12
            .performer_summary
                .row
                    .col-xs-12.performer_summary_box
                        ul
                            each stat, name in performer.stats
                                li
                                    a(href="/#{performer.permalink}/#{name}/")=__(name) + ' (' + stat + ')'
