extends ../layout_user_two_columns

block user-content
	h1=result.title
	ul
		li
			h3="user: "
			=title
		li
			h3="imgage src: "
			=result.files[0].file
		li
			h3="text: "
			=result.text.en
		li
			h3="events: "
			="Fix can't get result.events object"
		li
			h3="Stats: "
			p="visits: "+result.stats.visits
			p="rate: "+result.stats.rates.stars
			p="total rates: "+result.stats.rates.tot_rate
		li
			h3="Categories: "
			p="Name: "+result.categories[0].name
			- for(category in result.categories); console.log(result[category]);
				=category.name
		li
			h2="Users: "
			- for(user in result.users); console.log(result[user]);
	.pre
		!=result
	//-console.log(JSON.stringify(result, null, 20));
	//- for(item in result) console.log(result[item]);
