extends ../form-layout

block form
	include ./menu
	h2=__("emails")
	form.form-horizontal(method="post")
		input(name="_id", value=result._id, type="hidden")
		fieldset
			.form-group
				label.col-sm-2.control-label=__("Emails")
				.col-sm-10
					#emails
						each item,index in result.emails
							.email
								div(class=item.valid ? "" : "error")
									.input-group
										input(name="emails["+index+"][email]",type="text",value=item.email,placeholder=__("Email"),class=item.primary ? "disabled" : undefined).form-control
										input(name="emails["+index+"][valid]",type="hidden",value=item.valid)
										input(name="emails["+index+"][primary]",type="hidden",value=item.primary)
										input(name="emails["+index+"][public]",type="hidden",value=item.public)
										- if (item.primary)
											span.input-group-addon
												i.glyphicon.glyphicon-lock
										- else
											a.input-group-addon(href="#",onclick="emailRemove(this);return false;",onmouseover="$(this).tooltip('show')",data-toggle="tooltip",title="",data-original-title=__("Remove email"))
												i.glyphicon.glyphicon-remove
									- if (item.valid && !item.primary)
										.help-inline
											a(href="#",onclick="setPrimary(this);return false;")=__("Set as primary")
									- if (!item.valid)
											span.help-inline=__("Waiting email validation")
			.email.form-group
				label.col-sm-2.control-label=__("Add a new email")
				.col-sm-10
					.input-group
						input#email_add(autocomplete="off",type="text",placeholder=__("Email")).form-control
						span.input-group-btn
							button.btn.btn-success(autocomplete="off", type="button", onclick="emailAdd();return false;")
								i.glyphicon.glyphicon-ok.glyphicon.glyphicon-white
								!=" "
								!=__("Validate")
					.help-inline
			hr.clearfix
