ul.nav.nav-pills
	li
		a(href="/controlpanel/user/public")=__("public data")
	li
		a(href="/controlpanel/user/image")=__("image")
	li
		a(href="/controlpanel/user/password")=__("password")
	li
		a(href="/controlpanel/user/emails")=__("emails")
	li
		a(href="/controlpanel/user/private")=__("private")
	li
		a(href="/controlpanel/user/connections")=__("connections")
