extends ../form-layout

block form
	+section-menu('password')
	form.form-horizontal(method="post", data-parsley-validate)
		fieldset
			legend=__("Change password")
			.form-group
				label.col-sm-2.control-label=__("Current password")
				.col-sm-10
					input.form-control(type="password", name="password", placeholder=__("Current password"), minlength="8", required)
			hr
			.form-group
				label.col-sm-2.control-label=__("New password")
				.col-sm-10
					input.form-control#new_password(type="password", name="new_password", placeholder=__("New password"), minlength="8", required)
			.form-group
				label.col-sm-2.control-label=__("Confirm new password")
				.col-sm-10
					input.form-control(type="password", name="new_password_confirm", placeholder=__("Confirm new password"), required, data-parsley-equalto="#new_password")
			hr.clearfix
			.form-group
				label.col-sm-2.control-label
				.col-sm-10
					button(type="submit").btn.btn-primary.btn-lg=__("Save")
