extends ../form-layout

block form
	include ./menu
	h2=__("change password")
	form.form-horizontal(method="post")
		input(name="_id", value=result._id, type="hidden")
		fieldset
			legend=title
			.form-group
				label.col-sm-2.control-label=__("New password")
				.col-sm-10
					input(type="text",name="password", placeholder=__("New password")).form-control
			.form-group
				label.col-sm-2.control-label=__("Confirm new password")
				.col-sm-10
					input(type="text",name="password_confirm",placeholder=__("Confirm new password")).form-control
			hr.clearfix
			.form-group
				label.col-sm-2.control-label
				.col-sm-10
					button(type="submit").btn.btn-primary.btn-lg=__("Save")
