extends ../layout

block variables
	- var activeChapter='user'
	- var activeSection='public'

block inner-content
	include ./menu
	+render-alerts(alerts)
	form.form-horizontal(method="post", data-parsley-validate)
		fieldset
			legend=__("General")
			.form-group
				label.col-sm-2.control-label=__("Stage name")
				.col-sm-10
					input.form-control(autocomplete="off", name="display_name", value=result.display_name, type="text", placeholder=__("Stage name"), required)
			.form-group
				label.col-sm-2.control-label(for="permalink")=__("Profile url")
				.col-sm-10
					.input-group
						span.input-group-addon=config.baseurl
						input.form-control(autocomplete="off", type="text", value=result.permalink, name="permalink", placeholder=__("Profile url"), required, pattern="#{config.regex.permalink}", data-parsley-remote-validator="reverse", data-parsley-remote="#{config.baseurl}api/validate/permalink/{value}")
		+multilanguage-text(result.text)
		+websites(result.websites)
		+locations(result.locations)

		+save-button
