extends ../layout
block content
	// template: views/user/events/show.jade
	.single_event_page
		.user_result.single_event_page
			.container
				.row
					.col-md-12
						.single_event_thumb_container.wrapper_item

							//.image
							//	img.img-responsive(alt=__("Thumbnail of")+": "+result.title, src=_h.media.getFileFormat(result.files, 400, 300))
							img.img-responsive(alt=__("Thumbnail of")+": "+result.title, src='http://www.wallpaperawesome.com/wallpapers-awesome/wallpapers-for-monitors-widescreen-panoramic-16-9-awesome/triangles-abstract-awesome.jpg')

							.row
								.overlay_container.overlay_wrapper
									div#partecipate_shape
									div#partecipate_button
										a(href="#{result.permalink}/participate", role='button')
											span= __("Partecipate")
									h1.title=result.title
									if result.subtitle
										h3.subtitle=_h.text.getTextFormat(result.subtitle, config.lang, true)
									h4
										each type,name in _h.groupPartnersByType(result.partners)
											if name == "PRODUCTION"
												ul.list-inline
													if ( type.length < 4 )
														each box in type
															li
																a(href="/#{box.permalink}")
																	span= box.display_name
													else
														each box,index in type
															if index < 3
																li
																	a(href="/#{box.permalink}")
																		span= box.display_name
														li
															a(data-toggle='modal', data-target='#allproduction')= __("[ + ]")
														// Modal event external links
														#allproduction.modal.fade(role='dialog')
															.modal-dialog
																// Modal content
																.modal-content
																	.modal-header
																		button.close(type='button', data-dismiss='modal') ×
																		h4= "All production"
																	.modal-body
																		ul.list-inline
																			each box in type
																				li
																					a(href="/#{box.permalink}")
																						span= box.display_name





									ul.list-inline.single_event_details
										if result.websites
											li
												i.fa.fa-external-link
												a(type='button', data-toggle='modal', data-target='#event_external_links')
													=__(" Webites & Socials")
											li
												i.fa.fa-share-alt
												a(type='button', data-toggle='modal', data-target='#event_share')
													=__(" Share")
											li
												span
													i(class="fa fa-eye")
													span.value=" "+result.stats.visits
											li
												span
													i(class="fa fa-heart")
													=" "
													span.value=result.stats.rates.tot_rate


											li
												i(class="fa fa-user")
												=" "
												a(href="/" + result.permalink + "/")=performer.display_name





											each category in result.categories
												if category.ancestors
													each ancestor in category.ancestors
														if ancestor.permalink == "lv-projects-categories"
															li
																i(class="fa fa-cube")
																=" "
																a(href="/events/#{category.permalink}")=category.name
									.row.event_events_list.grid
										if result.date_time_venue
											each venue in result.date_time_venue
												.col-sm-4.grid-item
													.event_list_content_container
														span
															i(class="fa fa-clock-o")
															!=_h.date.getEventDate(venue.date) + " | " + venue.start_time + " / " + venue.end_time + "<br />"
														span
															i(class="fa fa-map-marker")
															!=venue.venue + " | " + venue.city + ", " + venue.country

				// Modal event external links
				#event_external_links.modal.fade(role='dialog')
					.modal-dialog
						// Modal content
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal') ×
								h4= result.title+" links"
							.modal-body
								ul.list-inline
									each url in result.websites
										li
											i.fa.fa-external-link
											a(href=url,target="_blank")
												=" website"
									li
										a(href="#")
											i.fa.fa-facebook-official(aria-hidden='true')
									li
										a(href="#")
											i.fa.fa-twitter(aria-hidden='true')
									li
										a(href="#")
											i.fa.fa-vimeo(aria-hidden='true')
				// Modal event external links
				#event_share.modal.fade(role='dialog')
					#fb-root
						script.
							(function (d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
								if (d.getElementById(id)) return;
								js = d.createElement(s);
								js.id = id;
								js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.6&appId=1725376071051640";
								fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));
					.modal-dialog
						// Modal content
						.modal-content


							.modal-header
								button.close(type='button', data-dismiss='modal') ×
								h4= "Share "+result.title
							.modal-body
								.fb-like(data-href='https://developers.facebook.com/docs/plugins/', data-layout='standard', data-action='like', data-show-faces='true', data-share='true')
								ul.list-inline
									li
										a(href="#")
											i.fa.fa-facebook-official(aria-hidden='true')
									li
										a(href="#")
											i.fa.fa-twitter(aria-hidden='true')
									li
										a(href="#")
											i.fa.fa-vimeo(aria-hidden='true')

							.modal-footer
								button.btn.btn-default(type='button', data-dismiss='modal') Close



		if result.text
			.about-bkg
				.container
					.about_performer.readmore
						h2=__("About")
						!= _h.text.getTextFormat(result.text, config.lang, true)


		if result.performances || result.partners || result.gallery
			.tabs-bkg
				.container
					// TABS
					ul.nav.nav-tabs.event_tabs
						if result.performances
							li.active
								a(href="#program", data-toggle="tab")=__("Program")
						if categories_founded !== {}
							li
								a(href="#artists", data-toggle="tab")=__("Artists")
						if categories_founded !== {}
							li
								a(href="#categories", data-toggle="tab")=__("Categories")
						if result.partners
							li
								a(href="#partners", data-toggle="tab")=__("partners") + " (" + result.partners.length + ")"
						if result.gallery
							li
								a(href="#gallery", data-toggle="tab")=__("gallery") + " (" + result.gallery.length + ")"

					div
						.tab-content
							if result.performances
								#program.tab-pane.active
									- var groupedPerformances = _h.groupPerformancesByDayAndRoom(result.performances)
									- if (groupedPerformances !== {})
										ul.nav.nav-pills
											- var a=0
											each day,date in groupedPerformances
												- if (date != "tobeconfirmed")
													li(class=a==0 ? "active" : undefined)
														a(href='#'+date)=_h.date.getEventDate(date)
												- a++
											- if (groupedPerformances["tobeconfirmed"].length)
												li
													a(href='#tobeconfirmed')=_('To be confirmed')
									- var groupedPerformances = _h.groupPerformancesByRoom(result.performances)
									- if (groupedPerformances !== {})
										ul.nav.nav-pills
											- var a=0
											li.active
												a(href='#all') All
											each day,room in groupedPerformances
												- if (room != "null")
													li(class=a==0 ? "active" : undefined)
														a(href='#' + room)=room
												- a++
									each day,date in groupedPerformances
										.single_date_of_series
											h3.col-sm-12
												span=_h.date.getEventDate(date)
										each rooms,name in day
											div
												h1=day[i]
												each room,name in day
													.row
														.col-md-12
															h3.single_event-room_title=name
													.grid.row.day_grid
														each box in room
															//include ../../performances/item
								#artists.tab-pane
									- var groupedArtists = _h.groupArtists(result.performances)
									- if (groupedArtists !== {})
									//- console.log(groupedArtists.stats)
									- var t = groupedArtists.stats.n;
									- t+= " "+__("artists from")+" "+groupedArtists.stats.countries.length+" "+(groupedArtists.stats.countries.length==1 ? __("country") : __("countries"))+", "+groupedArtists.stats.countries.join(", ");
									- t+= " "+__("playing")+" ";
									- for(i in groupedArtists.stats.types) t+= groupedArtists.stats.types[i].n + " " + groupedArtists.stats.types[i].name+", ";
									- t = t.substring(0,t.length-2);
									p=t
									.row
										each artist in groupedArtists.list
											//- console.log(artist)
											.col-md-3
												p=artist.display_name
								#categories.tab-pane
									- var categories_founded = _h.groupPerformancesByCategories(result.performances, "genere")
									- if (categories_founded !== {})
									- var first
									ul.nav.nav-pills
										- var a=0
										each category in categories_founded
											- if (a==0) first = category.category.permalink
											li(class=a == 0 ? "active" : undefined)
												a(href=category.category.permalink)=category.category.name
											- a++
									.row
										each perf in categories_founded[first].list
											- console.log(perf)
											.col-md-3
												p=perf.title
							if result.partners
								#partners.tab-pane
									each type,name in _h.groupPartnersByType(result.partners)
										.row
											.col-md-12
												.single_date_of_series.single_partner_of_series
													h3.col-sm-12
														span=name

										.row.main-list.grid_tab.grid.day_grid
											each box in type
												include ../../performers/item

							if result.partners
								#gallery.tab-pane
									.container
										.row.main-list.grid_tab.grid
											each box in result.gallery
												include ../../gallery/item
